.header {
  float: center;
  min-height: 30px;
  width: 100%;
}
#search {
  position: absolute;
  margin-top: 5px;
}
.menubar-item {
  z-index: 2;
  min-height: 25px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  transition: all 0.4s ease;
}
.menubar-item.active-item .menubar-item-highlight {
  opacity: 1;
}
.menubar-item:hover {
  cursor: pointer;
  color: #ff7200;
  background-color: #faf9fa;
}
.menubar-item:hover .menubar-item-highlight {
  opacity: 1;
}
.menubar-item:hover .submenubar {
  height: 500px;
}
.menubar-item-highlight {
  border-bottom: 5px solid #ff7200;
  position: absolute;
  top: -6px;
  left: 0;
  width: 100%;
  opacity: 0;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  transition: all 0.4s ease;
}
@media (max-width: 768px) {
  .menubar-item-highlight {
    display: none;
  }
}
.submenubar {
  position: absolute;
  top: 50px;
  width: 280px;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}
.submenubar-item {
  height: 50px;
  width: 280px;
  text-align: left;
  font-size: 14px;
  color: #000;
  background: #fff;
  padding-left: 15px;
  z-index: 100;
  transition: all 0.2s ease;
}
.submenubar-item:hover {
  background: #ff7200;
  color: #fff;
}
.slider {
  margin-bottom: 20px;
  border-bottom: 2px solid #00a2d7;
  background-color: #808080;
  width: 100%;
}
@media (min-width:320px) {
  .slider {
    margin-top: -8px;
  }
}
@media (min-width:768px) {
  .slider {
    margin-top: -37px;
  }
}
.col-centerd {
  float: none;
  margin: 0 auto;
}
.home-quote {
  text-align: center;
  margin-top: 10px;
  padding: 0px 0px;
  border-top: 1px solid #00a2d7;
  border-bottom: 1px solid #00a2d7;
  font-style: italic;
}
.h-quote {
  min-height: 60px;
}
.categories {
  background-color: #fff;
  margin-top: 10px;
}
h3 {
  text-align: center;
}
.first-post-thumbnail {
  width: 100%;
}
.first-post-thumbnail img {
  width: 100%;
}
h4,
p {
  margin-left: 10px;
  margin-top: 10px;
}
.first-post-index {
  margin-top: -20px;
  margin-left: -8px;
}
.first-post-title {
  margin-top: -8px;
}
.first-post-title h5 {
  font-size: 18px;
}
.first-post-title h5 {
  color: #333;
  font-weight: 500;
  margin-top: 6px;
}
.next-post-thumbnail {
  width: 70px;
  height: 70px;
}
.next-post-title {
  margin-top: 0px;
}
.categories-content {
  margin-top: 5px;
}
a {
  color: #000;
}
a:hover {
  color: #00f;
  text-decoration: none;
  transition: color 0.5s;
}
.title-bar {
  background: #ff7200;
  height: 55px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
.title-bar span {
  margin-right: 10px;
  position: relative;
  z-index: 999;
  font: 23px 'Oswald', sans-serif;
  float: left;
  color: #fff;
  background: #4c4c4c url("images/title-arrow.jpg") right center no-repeat;
  height: 55px;
  line-height: 55px;
  position: relative;
  padding: 0 20px 0 10px;
  display: inline-block;
}
.post-inlist-area {
  height: 250px;
}
.post-inlist-content {
  float: left;
  margin: 5px;
  padding: 25px;
  padding-top: -10px;
  width: 100%;
  height: 250px;
  border: 2px solid #87cefa;
}
.image-post-inlist-area {
  height: 100px;
}
.list-view {
  border: 2px solid #008b8b;
  height: 670px;
}
.text {
  height: 650px;
}
.footer {
  border-top: 2px solid #d9dbda;
  color: #fff;
  min-height: 300px;
  width: 100%;
  background-color: #b5b551;
}
.footer h2 {
  text-align: center;
  color: #000;
}
.endfooter {
  height: 100px;
  width: 100%;
  background-color: #c4c3be;
}
hr {
  border-top: 1px solid #a8a843;
  margin-top: -5px;
  margin-bottom: -5px;
  align: center;
}
.footer-list-post {
  border: 2px solid #ffc0cb;
  height: 200px;
}
.post {
  margin-top: 68px;
  height: 800px;
}
@media (min-width: 320px) {
  .post {
    margin-top: 110px;
  }
}
@media (min-width: 768px) {
  .post {
    margin-top: 165px;
  }
}
@media (min-width: 856px) {
  .post {
    margin-top: 110px;
  }
}
@media (min-width: 1023px) {
  .post {
    margin-top: 112px;
  }
}
@media (min-width: 1024px) {
  .post {
    margin-top: 110px;
  }
}
@media (min-width: 1261px) {
  .post {
    margin-top: 62px;
  }
}
@media (min-width: 1366px) {
  .post {
    margin-top: 67px;
  }
}
.post-thumnail {
  margin-top: 0px;
  max-height: 1200px;
  background-color: #fff;
}
.post-content-title {
  min-height: 70px;
}
.post-content {
  min-height: 180px;
  background-color: #fff;
}
.post-content p {
  color: 30px;
  margin-left: 50px;
}
/*.post-index
  
  min-height :30px
  background-color:white
  span
    margin-left 50px*/
.post-comment {
  border-top: 2px solid #efefe1;
  margin-top: 20px;
  min-height: 600px;
  background-color: #fff;
}
.post-comment ul .media .media-body span {
  margin-left: 15px;
  font-size: 12px;
}
.post-comment ul .media .media-body p {
  margin-top: -2px;
}
.post-comment ul .media .media-body h4 {
  margin-top: 3px;
  color: #107dea;
}
.post-comment ul .media .media-body .btn {
  margin-top: -2px;
  background: #868686;
  font: 11px 'open sans', sans-serif;
  color: #fff;
}
.post-comment ul .media {
  margin-top: 15px;
}
.post-comment h2 {
  margin-left: 20px;
  color: #ffa500;
}
.title-bar {
  background: #ff7200;
  height: 55px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
.post-title {
  height: 60px;
  width: 100%;
}
.post-title-main {
  text-align: left;
  background-color: #000;
  height: 60px;
  color: #fff;
}
.post-title-main h4 {
  line-height: 16px;
}
.post-title-child {
  height: 60px;
  font-size: 25px;
  color: #fff;
  background-color: #ffa500;
}
.post-title-child h5 {
  line-height: 16px;
}
.post-content-title {
  border-bottom: 2px solid #b9bfbc;
  padding: 10px 0 0 20px;
  background-color: #fff;
}
.post-content-title h3 {
  margin-left: 10px;
  text-align: center;
}
.leavecomment {
  min-height: 250px;
  background-color: #fcfced;
  border-top: 1px solid #d9dbda;
  margin-bottom: 10px;
}
.leavecomment h2 {
  margin-top: 15px;
  margin-left: 20px;
  color: #ffa500;
}
.leavecomment h2 {
  margin-left: 20px;
}
.login-form {
  z-index: 100;
}
.content-box {
  border: 2px solid #ebefef;
  border-top: 1px solid #ebefef;
  border-bottom: 1px solid #ebefef;
  height: 100%;
  padding: 35px 25px;
}
.content-box-title {
  padding: 0;
  position: relative;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  height: 35px;
}
.underline {
  position: absolute;
  height: 100%;
  width: 75px;
  border-bottom: 5px solid #d70204;
}
.category-items {
  margin-top: 30px;
}
.categories {
  background: #f6f6f6;
  position: relative;
/*&:hover
    .hover-line
      height: 100%*/
}
.hover-line {
  position: absolute;
  border: 2px solid #d70204;
  width: 0px;
  height: 15%;
  transition: all 0.3s ease;
}
.categories-number {
  padding: 9px 0;
}
.number-box {
  border: 2px solid #d70204;
  width: 30px;
  font-size: 20px;
  line-height: 14px;
  padding: 6px 0;
  text-align: center;
  font-weight: bold;
  color: #d70204;
  margin: 0 auto;
}
.del {
  height: 20px;
}
.top {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1002;
}
.dark-bg {
  background: #36424a;
  border-bottom: 1px solid #f1f2f7;
}
.title {
  margin-left: -1px;
}
/*.navbar-inverse .navbar-nav
  margin-right: 70px
  li 
    a
      color: #333
.navbar-inverse
  background-color:white
  color:black
.navbar-inverse 
    
    border-color: #FFFFFF*/
#main-menu {
  border: 1px solid #252424;
}
#main-menu ul li a:hover {
  color: #1ba2dc;
}
#main-menu ul #login_h a:hover {
  color: #1ba2dc;
}
#main-menu ul #register_h a:hover {
  color: #1ba2dc;
}
#main-menu ul #search_h a:hover {
  color: #fff;
}
#main-menu .dropdown-menu li a:hover {
  color: #000;
  background-color: #1ba2dc;
}
/*.navbar-inverse .navbar-nav
  .open
    a
      color:blue
      background-color : #93F7F1
   
.navbar-inverse .navbar-nav
    .open
      a:focus
        color:blue
        background-color : #93F7F1
.navbar-inverse .navbar-nav
    .open
      a:hover
        color:blue
        background-color : #93F7F1*/
/*.navbar-inverse .navbar-toggle .icon-bar 
    background-color: #7D7878
    mar*/
.navbar-collapse {
  padding-right: 15px;
  padding-left: 20px;
}
.navbar-nav li .dropdown-menu {
  color: #000;
}
.navbar-nav li .dropdown-menu a {
  height: 45px;
  padding-top: 10px;
  margin-top: -5px;
  margin-bottom: -5px;
}
/*.navbar-inverse .navbar-nav li a:focus, .navbar-inverse .navbar-nav li a:hover 
              
  border-top: 1px solid black
  color:black
  background-color : orange*/
.menu {
  height: 55px;
  float: center;
  width: 100%;
}
.modal {
  background-color: rgba(241,247,241,0);
}
.modal-backdrop.fade.in {
  z-index: 0;
}
.header1 {
  background-color: #212121;
  max-height: 160px;
}
@media (min-width: 320px) {
  .header1 {
    height: 67px;
  }
}
@media (min-width: 768px) {
  .header1 {
    height: 156px;
  }
}
@media (min-width: 856px) {
  .header1 {
    height: 105px;
  }
}
@media (min-width: 1024px) {
  .header1 {
    height: 107px;
  }
}
@media (min-width: 1261px) {
  .header1 {
    height: 56px;
  }
}
@media (min-width: 1366px) {
  .header1 {
    height: 55px;
  }
}
@media (max-width: 480px) {
  #btnLogin #btnRegister {
    width: 5px;
    font-size: 5px;
  }
}
.logo {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -999999px;
  background-size: 110px auto;
}
@media (min-width: 320px) {
  .listpost {
    margin-top: 105px;
  }
}
@media (min-width: 768px) {
  .listpost {
    margin-top: 155px;
  }
}
@media (min-width: 856px) {
  .listpost {
    margin-top: 110px;
  }
}
@media (min-width: 1024px) {
  .listpost {
    margin-top: 106px;
  }
}
@media (min-width: 1261px) {
  .listpost {
    margin-top: 60px;
  }
}
@media (min-width: 1366px) {
  .listpost {
    margin-top: 62px;
  }
}
a:hover {
  color: #2400ff;
}
.categories-title {
/*background-color: rgba(56, 177, 46, 0.71)*/
  border-left: 3px solid #f78940;
  border-bottom: 1px solid #c0c0d4;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  max-height: 68px;
/*&:hover
    cursor: pointer*/
}
.categories-title h4 {
  font-weight: 500;
  text-align: center;
  line-height: 22px;
  padding-left: 5px;
  margin-bottom: -8px;
  margin-top: -5px;
  font-size: 16px;
}
.categories-title h4 a:hover {
  color: #fff;
}
.first-post-index p span {
  font-size: 12px;
}
.first-post-thumbnail img {
  margin-left: 3px;
}
@media (width: 768px) {
  .first-post-thumbnail img {
    width: 110px;
    height: 110px;
  }
}
.first-post-title h5 {
  margin-left: -10px;
}
.first-post-content {
  margin-left: -30px;
  margin-top: -30px;
  font-size: 12px;
}
.next-post {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: -30px;
}
.next-post-title {
  margin-top: -10px;
  margin-left: -15px;
  margin-bottom: 5px;
}
.categories {
  margin-bottom: 20px;
}
.next-post-thumbnail {
  margin-bottom: 10px;
  margin-top: -15px;
}
.first-post {
  margin-bottom: 15px;
  border-bottom: 1px solid #dcdcdc;
}
.first-post-thumbnail img {
  margin-left: 3px;
  margin-bottom: 5px;
}
.categories-title {
  background-color: #ffa500;
}
.categories-title h4 a:hover {
  color: #fff;
}
.header1 .menu .addsearch {
  margin-top: -15px;
}
@media (min-width: 768px) {
  .header1 .menu .addsearch {
    display: none;
  }
}
nav.navbar.navbar-inverse {
  margin-bottom: 1px;
}
@media (max-width:767px) {
  #search0 {
    display: none;
  }
}
