.header {
  float: center;
  min-height: 80px;
  width: 100%;
  background-color: #000;
}
#search {
  position: absolute;
}
.menu-items {
  z-index: 100;
}
.menu-items:hover .submenu-item {
  display: block;
}
.submenu-item {
  display: none;
  height-min: 50px;
  width: 230px;
  background: #fff;
  font-size: 8px;
  text-align: left;
  padding-left: 10px;
  color: #000;
  border-top: 1px solid #d3d3d3;
}
.submenu-item:hover {
  background: #d3d3d3;
  color: #f00;
}
.menu-items {
  height: 40px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #383e41;
}
@media (max-width: 768px) {
  .menu-items {
    text-align: center;
  }
}
.menu-items:hover {
  cursor: pointer;
  color: #333;
}
.menu-items .submenu {
  display: block;
}
a:hover {
  text-decoration: none;
}
.menu {
  float: center;
  width: 100%;
}
.slider {
  margin-top: -20px;
  border-top: 4px solid #00a2d7;
  width: 100%;
  background-color: #000;
}
.col-centerd {
  float: none;
  margin: 0 auto;
}
.home-quote {
  text-align: center;
  margin-top: 10px;
  padding: 0px 0px;
  border-top: 1px solid #00a2d7;
  border-bottom: 1px solid #00a2d7;
  font-style: italic;
}
.h-quote {
  min-height: 60px;
}
.categories {
  background-color: #e5e0e0;
}
h3 {
  text-align: center;
}
.categories-title {
  height: 55px;
}
.first-post-thumbnail {
  width: 100%;
  height: 250px;
}
h4,
p {
  margin-left: 10px;
  margin-top: 10px;
}
.first-post-content {
  font-size: 16px;
}
.next-post-thumbnail {
  width: 70px;
  height: 70px;
}
.next-post-title {
  margin-top: 15px;
}
.footer {
  height: 300px;
  width: 100%;
  background-color: #d1b545;
}
.endfooter {
  height: 100px;
  width: 100%;
  background-color: #c4c3be;
}
hr {
  border-top: 1px solid #848450;
  margin-top: -5px;
  margin-bottom: -5px;
  align: center;
}
