.header {
  height: 80px;
  width: 100%;
}
#search {
  position: absolute;
  margin-top: 5px;
}
.menubar {
  margin-top: 20px;
}
.menubar-item {
  z-index: 2;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  transition: all 0.4s ease;
}
.menubar-item.active-item .menubar-item-highlight {
  opacity: 1;
}
.menubar-item:hover {
  cursor: pointer;
  color: #ff7200;
  background-color: #faf9fa;
}
.menubar-item:hover .menubar-item-highlight {
  opacity: 1;
}
.menubar-item:hover .submenubar {
  height: 500px;
}
.menubar-item-highlight {
  border-bottom: 5px solid #ff7200;
  position: absolute;
  top: -6px;
  left: 0;
  width: 100%;
  opacity: 0;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  transition: all 0.4s ease;
}
@media (max-width: 768px) {
  .menubar-item-highlight {
    display: none;
  }
}
.submenubar {
  position: absolute;
  top: 50px;
  width: 280px;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}
.submenubar-item {
  height: 50px;
  width: 280px;
  text-align: left;
  font-size: 14px;
  color: #000;
  background: #fff;
  padding-left: 15px;
  z-index: 100;
  transition: all 0.2s ease;
}
.submenubar-item:hover {
  background: #ff7200;
  color: #fff;
}
.slider {
  z-index: 1;
  width: 100%;
  background-color: #000;
  margin-bottom: 20px;
}
.col-centerd {
  float: none;
  margin: 0 auto;
}
.home-quote {
  text-align: center;
  margin-top: 10px;
  padding: 0px 0px;
  border-top: 1px solid #00a2d7;
  border-bottom: 1px solid #00a2d7;
  font-style: italic;
}
.h-quote {
  min-height: 60px;
}
.categories {
  background-color: #fff;
  margin-top: 10px;
  min-height: 620px;
}
h3 {
  text-align: center;
}
.first-post-thumbnail {
  width: 100%;
}
.first-post-thumbnail img {
  width: 100%;
}
h4,
p {
  margin-left: 10px;
  margin-top: 10px;
}
.first-post-content {
  font-size: 16px;
}
.next-post-thumbnail {
  width: 70px;
  height: 70px;
}
.next-post-title {
  margin-top: 0px;
}
.categories-title {
  border-left: 1px solid #ff2000;
}
.categories-title h3 {
  text-align: left;
  margin: 0;
  padding: 0;
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
}
.categories-content {
  margin-top: 5px;
}
a {
  color: #000;
}
a:hover {
  color: #ff8b00;
  text-decoration: none;
  transition: color 0.5s;
}
.title-bar {
  background: #ff7200;
  height: 55px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
.title-bar span {
  margin-right: 10px;
  position: relative;
  z-index: 999;
  font: 23px 'Oswald', sans-serif;
  float: left;
  color: #fff;
  background: #4c4c4c url("images/title-arrow.jpg") right center no-repeat;
  height: 55px;
  line-height: 55px;
  position: relative;
  padding: 0 20px 0 10px;
  display: inline-block;
}
.post-inlist-area {
  height: 250px;
}
.post-inlist-content {
  float: left;
  margin: 5px;
  padding: 25px;
  padding-top: -10px;
  width: 350px;
  height: 250px;
  border: 2px solid #87cefa;
}
.image-post-inlist-area {
  height: 100px;
}
.list-view {
  border: 2px solid #008b8b;
  height: 670px;
}
.text {
  height: 650px;
}
.footer {
  border-top: 2px solid #d9dbda;
  color: #fff;
  min-height: 300px;
  width: 100%;
  background-color: #b5b551;
}
.footer h2 {
  text-align: center;
  color: #000;
}
.endfooter {
  height: 100px;
  width: 100%;
  background-color: #c4c3be;
}
hr {
  border-top: 1px solid #a8a843;
  margin-top: -5px;
  margin-bottom: -5px;
  align: center;
}
.footer-list-post {
  border: 2px solid #ffc0cb;
  height: 200px;
}
.post {
  margin-top: 20px;
  min-height: 800px;
}
.post-thumnail {
  margin-top: 10px;
  min-height: 600px;
}
.post-thumnail img {
  width: 100%;
}
.post-content-title {
  min-height: 70px;
}
.post-content {
  min-height: 180px;
}
.post-content p {
  color: 30px;
  margin-left: 50px;
}
.post-index {
  min-height: 30px;
}
.post-index span {
  margin-left: 50px;
}
.post-comment {
  border-top: 2px solid #efefe1;
  margin-top: 20px;
  min-height: 600px;
  background-color: #edede6;
}
.post-comment ul .media .media-body span {
  margin-left: 15px;
  font-size: 12px;
}
.post-comment ul .media .media-body p {
  margin-top: -2px;
}
.post-comment ul .media .media-body h4 {
  margin-top: 3px;
  color: #107dea;
}
.post-comment ul .media .media-body .btn {
  margin-top: -2px;
  background: #868686;
  font: 11px 'open sans', sans-serif;
  color: #fff;
}
.post-comment ul .media {
  margin-top: 15px;
}
.post-comment h2 {
  margin-left: 20px;
  color: #ffa500;
}
.title-bar {
  background: #ff7200;
  height: 55px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
.post-title {
  min-height: 60px;
}
.post-title-main {
  background-color: #000;
  min-height: 60px;
  color: #fff;
}
.post-title-child {
  min-height: 60px;
  font-size: 25px;
  color: #fff;
  background-color: #ffa500;
}
.post-content-title {
  border-bottom: 2px solid #b9bfbc;
  padding: 10px 0 0 20px;
}
.post-content-title h3 {
  margin-left: 10px;
  text-align: center;
}
.leavecomment {
  min-height: 250px;
  background-color: #fcfced;
  border-top: 1px solid #d9dbda;
  margin-bottom: -20px;
}
.leavecomment h2 {
  margin-top: 15px;
  margin-left: 20px;
  color: #ffa500;
}
.leavecomment h2 {
  margin-left: 20px;
}
