.header
  height:80px
  width: 100%
  // border: 2px solid yellow
  // background-color: black
  //border-bottom: 3px solid #00A2D7;  
#search 
    position: absolute
    margin-top: 5px

.menubar
  // border: 2px solid blue
  //border-top: 2px solid #000000
  margin-top: 20px
  //background: #fafafa
.menubar-item
  z-index: 2
  // border: 2px solid red
  height: 50px
  line-height: 50px
  text-align: center
  font-size: 16px
  font-weight: bold
  position: relative
  transition: all 0.4s ease
  &.active-item
    .menubar-item-highlight
      opacity: 1
  &:hover
    cursor: pointer
    color: #ff7200
    background-color: #FAF9FA
    .menubar-item-highlight
      opacity: 1
    .submenubar
      height: 500px

.menubar-item-highlight
  border-bottom: 5px solid #ff7200
  position: absolute
  top: -6px
  left: 0
  width: 100%
  opacity: 0
  border-left: 2px solid #ffffff
  border-right: 2px solid #ffffff
  transition: all 0.4s ease
  @media (max-width: 768px)
    display: none

.submenubar
  position: absolute
  top: 50px
  width: 280px
  height: 0
  overflow: hidden
  transition: all 0.2s ease
.submenubar-item
  height: 50px
  width: 280px
  text-align: left
  font-size: 14px
  color: #000000
  background: rgba(255, 255, 255, 1)
  padding-left: 15px
  z-index: 100
  transition: all 0.2s ease
  &:hover
    background: #ff7200
    color: #ffffff
    
.slider
  z-index: 1
  width: 100%
  // border: 2px solid blue
  background-color: #000000
  margin-bottom: 20px
.col-centerd
  float: none
  margin: 0 auto
.home-quote
  text-align: center
  margin-top:10px
  padding : 0px 0px
  border-top: 1px solid #00A2D7
  border-bottom: 1px solid #00A2D7
  font-style: italic
.h-quote
  min-height:60px
.groups
  //border: 2px solid red
.categories
  //border: 2px solid green
  background-color:#ffffff
  margin-top: 10px
.first-post
  //border: 2px solid black
.next-post
  //border: 2px solid #9de8e8
h3
  text-align:center

.first-post-thumbnail
  width: 100%
  img
    width: 100%
    
h4,p
  margin-left :5px
  margin-top: 5px
.first-post-index
  //background: #e8e8b0


.first-post-content
  font-size: 16px

  
.next-post-thumbnail
  width: 70px
  height: 70px
  //border: 1px solid orange
.next-post-title
  margin-top:0px

.categories-title
  border-left: 1px solid #ff2000
  h3
    text-align: left
    margin: 0
    padding: 0
    height: 50px
    padding-left: 10px
    line-height: 50px

.categories-content
  margin-top: 5px

a
  color: black

a:hover
  color: #ff8b00
  text-decoration: none
  transition: color 0.5s
//LIST-POST
.title-bar
  background: #FF7200
  height: 55px
  position: relative
  overflow: hidden
  margin-bottom: 15px
.title-bar span
  margin-right: 10px
  position: relative
  z-index: 999
  font: 23px 'Oswald', sans-serif
  float: left
  color: #fff
  background: #4c4c4c url('images/title-arrow.jpg') right center no-repeat
  height: 55px
  line-height: 55px
  position: relative
  padding: 0 20px 0 10px
  display: inline-block
.post-inlist-area
  height: 250px
.post-inlist-content
  float: left
  margin: 5px
  padding: 25px
  padding-top: -10px
  width: 350px
  height: 250px
  border: 2px solid  #87CEFA
.image-post-inlist-area
  height: 100px
.list-view
  border: 2px solid #008B8B
  height: 670px
.text
  height: 650px
  
//END LIST-POST
//FOOTER


.footer
  //margin-top :5px 
  border-top : 2px solid #d9dbda
  color : white
  min-height : 300px
  width: 100%
  //border: 2px solid red
  background-color : #b5b551
  h2
    text-align:center
    color:black
.endfooter
  height: 100px
  width: 100%
  background-color:#c4c3be
hr
  border-top: 1px solid #a8a843
  margin-top : -5px 
  margin-bottom: -5px
  align : center
//END FOOTER
.footer-list-post
  border: 2px solid pink
  height: 200px
.post
  margin-top:20px
  min-height :800px
  //background-color : gray

.post-thumnail
  margin-top:10px
  min-height:600px
  img
    width: 100%
.post-content-title
  min-height : 70px
  //background-color :#93d6d3
.post-content 
  
  min-height:180px
  //background-color: #e9fcd6
  p
    color :30px
    margin-left :50px
.post-index
  
  min-height :30px
  //background-color:#3fba76
  span
    margin-left 50px
.post-comment
  ul 
    .media
      .media-body
        span
          margin-left:15px
          font-size:12px
        p
          margin-top:-2px
        h4
          margin-top:3px
          color:#107dea
        .btn
          margin-top:-2px
          background: #868686;
          font: 11px 'open sans', sans-serif
          color:#fff
   
  ul
    .media
      margin-top :15px
  h2
    
    margin-left:20px
    color:orange
  border-top:2px solid #efefe1
  //border-bottom:1px solid #b9bfbc
  //margin-top:20px
  margin-top :20px
  min-height :600px
  background-color:#edede6
.title-bar 
    background: #FF7200
    height: 55px
    position: relative
    overflow: hidden
    margin-bottom: 15px

.post-title 
  min-height:60px
  
.post-title-main
  background-color: black
  min-height:60px
  color :white
  //font-size :30px
.post-title-child
  min-height:60px
  font-size:25px
  color:white
  background-color: orange
.post-content-title
  h3
    margin-left:10px
    text-align: center
  border-bottom:2px solid #b9bfbc
  //font-size:25px
  padding: 10px 0 0 20px
.leavecomment
  h2
    margin-top:15px
    margin-left:20px
    color:orange
  min-height :250px
  background-color:#fcfced
  border-top:1px solid #d9dbda   
  h2
    margin-left : 20px
    margin-bottom :-20px 
// .top
//   width:100%
//   height:170px
//   position: fixed
//   top:0
//   background-color:#ffffff
//   z-index: 3
.content-box
  border: 2px solid #ebefef
  border-top: 1px solid #ebefef
  border-bottom: 1px solid #ebefef
  height: 100%
  padding: 35px 25px

.content-box-title
  padding: 0
  position: relative
  font-size: 20px
  line-height: 20px
  text-transform: uppercase
  font-weight: bold
  height: 35px
.underline
  position: absolute
  height: 100%
  width: 75px
  border-bottom: 5px solid #d70204
.category-items
  margin-top: 30px
.categories
  background: #f6f6f6
  position: relative
  &:hover
    .hover-line
      height: 100%
.hover-line
  position: absolute
  border: 2px solid #d70204
  width: 0px
  height: 15%
  transition: all 0.3s ease
.categories-title
  text-transform: uppercase
  font-size: 12px
  font-weight: bold
  padding: 15px 0
  //text-align: center
  padding-left: 25px
  &:hover
    cursor: pointer
.categories-number
  padding: 9px 0
.number-box
  border: 2px solid #d70204
  width: 30px
  font-size: 20px
  line-height: 14px
  padding: 6px 0
  text-align: center
  font-weight: bold
  color: #d70204
  margin: 0 auto