.header
  height:80px
  width: 100%
  // border: 2px solid yellow
  // background-color: black
  //border-bottom: 3px solid #00A2D7;  
    
#search 
    position: absolute

.menubar
  // border: 2px solid blue
  border-top: 2px solid #000000
  margin-top: 20px
  background: #fafafa
.menubar-item
  // border: 2px solid red
  height: 50px
  line-height: 50px
  text-align: center
  font-size: 18px
  font-weight: bold
  position: relative
  transition: all 0.4s ease
  &.active-item
    .menubar-item-highlight
      opacity: 1
  &:hover
    cursor: pointer
    color: #ff7200
    .menubar-item-highlight
      opacity: 1
    .submenubar
      height: 500px

.menubar-item-highlight
  border-bottom: 5px solid #ff7200
  position: absolute
  top: -6px
  left: 0
  width: 100%
  opacity: 0
  border-left: 2px solid #ffffff
  border-right: 2px solid #ffffff
  transition: all 0.4s ease
  @media (max-width: 768px)
    display: none

.submenubar
  position: absolute
  top: 50px
  width: 280px
  height: 0
  overflow: hidden
  transition: all 0.2s ease
.submenubar-item
  height: 50px
  width: 280px
  text-align: left
  font-size: 14px
  color: #000000
  background: rgba(255, 255, 255, 0.5)
  padding-left: 15px
  z-index: 100
  transition: all 0.2s ease
  &:hover
    background: #ff7200
    color: #ffffff
    
.slider
  min-height: 500px
  width: 100%
  // border: 2px solid blue
  background-color: #000000
  margin-bottom: 20px
.col-centerd
  float: none
  margin: 0 auto
.home-quote
  text-align: center
  margin-top:10px
  padding : 0px 0px
  border-top: 1px solid #00A2D7
  border-bottom: 1px solid #00A2D7
  font-style: italic
.h-quote
  min-height:60px
.groups
  //border: 2px solid red
.categories
  
  //border: 2px solid green
  background-color:#e5e0e0
  
.first-post
  //border: 2px solid black
.next-post
  //border: 2px solid #9de8e8
  
  



h3
  text-align:center
.first-post-thumbnail
  width: 100%
  height: 250px
  // background-image: url("./images/tit1.jpg")
  //background: rgba(255, 0, 0, 0.8)
h4,p
  margin-left :10px
  margin-top:10px
.first-post-index
  //background: #e8e8b0


.first-post-content
  font-size: 16px

  
.next-post-thumbnail
  width: 70px
  height: 70px
  //border: 1px solid orange
.next-post-title
  margin-top:15px