.header
  float:center
  min-height:30px
  width: 100%
  
  // border: 2px solid yellow
  //background-color: #f7df7e
  //border-bottom: 3px solid #00A2D7;  
#search 
    
    position: absolute
    margin-top: 5px

// .menubar
//   min-height: 50px
//   // border: 2px solid blue
//   //border-top: 2px solid #000000
//   margin-top: 40px
//   //background: #fafafa
.menubar-item
  z-index: 2
  // border: 2px solid red
  min-height: 25px
  line-height: 50px
  text-align: center
  font-size: 16px
  font-weight: bold
  position: relative
  transition: all 0.4s ease
  &.active-item
    .menubar-item-highlight
      opacity: 1
  &:hover
    cursor: pointer
    color: #ff7200
    background-color: #FAF9FA
    .menubar-item-highlight
      opacity: 1
    .submenubar
      height: 500px

.menubar-item-highlight
  border-bottom: 5px solid #ff7200
  position: absolute
  top: -6px
  left: 0
  width: 100%
  opacity: 0
  border-left: 2px solid #ffffff
  border-right: 2px solid #ffffff
  transition: all 0.4s ease
  @media (max-width: 768px)
    display: none

.submenubar
  position: absolute
  top: 50px
  width: 280px
  height: 0
  overflow: hidden
  transition: all 0.2s ease
.submenubar-item
  height: 50px
  width: 280px
  text-align: left
  font-size: 14px
  color: #000000
  background: rgba(255, 255, 255, 1)
  padding-left: 15px
  z-index: 100
  transition: all 0.2s ease
  &:hover
    background: #ff7200
    color: #ffffff
    
.slider
  //min-height : 100px
  //padding-top: 40px
  margin-top :50px
  border-top: 2px solid #00A2D7
  
  width: 100%
  // border: 2px solid blue
  background-color: #000000
.col-centerd
  float: none
  margin: 0 auto
.home-quote
  text-align: center
  margin-top:10px
  padding : 0px 0px
  border-top: 1px solid #00A2D7
  border-bottom: 1px solid #00A2D7
  font-style: italic
.h-quote
  min-height:60px
.groups
  //border: 2px solid red
.categories
  //border: 2px solid green
  background-color:#ffffff
  margin-top: 10px
.first-post
  //border: 2px solid black
.next-post
  //border: 2px solid #9de8e8
h3
  text-align:center

.first-post-thumbnail
  width: 100%
  img
    width: 100%
    
h4,p
  margin-left :10px
  margin-top:10px
.first-post-index
  //background: #e8e8b0


.first-post-content
  font-size: 14px
  margin-top: -5px
  margin-left: -20px
.first-post-title
  margin-top:-10px
  h4
    margin-left: 10px
    text-align:left
#id2
  color: #333
  font-family: Arial,Helvetica,sans-serif
  margin-left: -12px;
  float:left
#id2:hover
  color: #78b43d
  text-decoration: none
  transition: color 0.5s
.next-post-thumbnail
  width: 70px
  height: 70px
  //border: 1px solid orange
.next-post-title
  margin-top:0px

.categories-title
  border-left: 1px solid #ff2000
  h3
    text-align: left
    margin: 0
    padding: 0
    height: 50px
    padding-left: 10px
    line-height: 30px

.categories-content
  margin-top: 5px

#id1
  color: blue
  font-size: 15px

#id1:hover
  color: #ff8b00
  text-decoration: none
  transition: color 0.5s
//LIST-POST
.title-bar
  background: #FF7200
  height: 55px
  position: relative
  overflow: hidden
  margin-bottom: 15px
.title-bar span
  margin-right: 10px
  position: relative
  z-index: 999
  font: 23px 'Oswald', sans-serif
  float: left
  color: #fff
  background: #4c4c4c url('images/title-arrow.jpg') right center no-repeat
  height: 55px
  line-height: 55px
  position: relative
  padding: 0 20px 0 10px
  display: inline-block
.post-inlist-area
  height: 250px
.post-inlist-content
  float: left
  margin: 5px
  padding: 25px
  padding-top: -10px
  width: 100%
  height: 250px
  border: 2px solid  #87CEFA
.image-post-inlist-area
  height: 100px
.list-view
  border: 2px solid #008B8B
  height: 670px
.text
  height: 650px
  
//END LIST-POST
//FOOTER


.footer
  //margin-top :5px 
  border-top : 2px solid #d9dbda
  color : white
  min-height : 300px
  width: 100%
  //border: 2px solid red
  background-color : #b5b551
  h2
    text-align:center
    color:black
.endfooter
  height: 100px
  width: 100%
  background-color:#c4c3be
hr
  border-top: 1px solid #a8a843
  margin-top : -5px 
  margin-bottom: -5px
  align : center
//END FOOTER
.footer-list-post
  border: 2px solid pink
  height: 200px
@media screen and (min-width: 320px)
  .post
    margin-top :120px
    min-height :800px
@media screen and (min-width: 768px)
  .post
    margin-top :130px
    min-height :800px
@media screen and (min-width: 1024px)
  .post
    margin-top :100px
    min-height :800px
@media screen and (min-width: 310px)
  .post-thumnail
    margin-top:10px
    height:100%
@media screen and (min-width: 470px)
  .post-thumnail
    margin-top:10px
    height:100%
@media screen and (min-width: 760px)
  .post-thumnail
    margin-top:10px
    height:100%
@media screen and (min-width: 1020px)
  .post-thumnail
    margin-top:10px
    height:100%
  //background-color: #f2f2a2
.post-content-title
  margin-top: 20px
  height : 70px
  //background-color :#93d6d3
.post-content 
  
  min-height:180px
  //background-color: #e9fcd6
  p
    color :30px
    margin-left :50px
.post-index
  
  min-height :30px
  //background-color:#3fba76
  span
    margin-left 50px
.post-comment
  ul 
    .media
      .media-body
        span
          margin-left:15px
          font-size:12px
        p
          margin-top:-2px
        h4
          margin-top:3px
          color:#107dea
        .btn
          margin-top:-2px
          background: #868686;
          font: 11px 'open sans', sans-serif
          color:#fff
   
  ul
    .media
      margin-top :15px
  h2
    
    margin-left:20px
    color:orange
  border-top:2px solid #efefe1
  //border-bottom:1px solid #b9bfbc
  //margin-top:20px
  margin-top :20px
  min-height :600px
  background-color:#edede6
.title-bar 
    background: #FF7200
    height: 55px
    position: relative
    overflow: hidden
    margin-bottom: 15px

// .post-title 
//   min-height:60px
  
// .post-title-main
//   background-color: black
//   min-height:60px
//   color :white
//   //font-size :30px
// .post-title-child
//   min-height:60px
//   font-size:25px
//   color:white
//   background-color: orange
// .post-content-title
//   h3
//     margin-left:10px
//     text-align: center
//   border-bottom:2px solid #b9bfbc
//   //font-size:25px
//   padding: 10px 0 0 20px
.leavecomment
  h2
    margin-top:15px
    margin-left:20px
    color:orange
  min-height :250px
  background-color:#fcfced
  border-top:1px solid #d9dbda
    
      
      
  h2
    margin-left : 20px
  margin-bottom :-20px  
.login-form
  z-index:100
.content-box
  border: 2px solid #ebefef
  border-top: 1px solid #ebefef
  border-bottom: 1px solid #ebefef
  height: 100%
  padding: 35px 25px

.content-box-title
  padding: 0
  position: relative
  font-size: 20px
  line-height: 20px
  text-transform: uppercase
  font-weight: bold
  height: 35px
.underline
  position: absolute
  height: 100%
  width: 75px
  border-bottom: 5px solid #d70204

.category-items
  margin-top: 30px
.categories
  background: #f6f6f6
  position: relative
  &:hover
    .hover-line
      height: 100%
.hover-line
  position: absolute
  border: 2px solid #d70204
  width: 0px
  height: 15%
  transition: all 0.3s ease
.categories-title
  text-transform: uppercase
  font-size: 12px
  font-weight: bold
  padding: 15px 0
  //text-align: center
  padding-left: 25px
  &:hover
    cursor: pointer
.categories-number
  padding: 9px 0
.number-box
  border: 2px solid #d70204
  width: 30px
  font-size: 20px
  line-height: 14px
  padding: 6px 0
  text-align: center
  font-weight: bold
  color: #d70204
  margin: 0 auto
.del
  height: 20px
.top
  position: fixed
  left: 0
  right: 0
  z-index: 1002
.dark-bg  
  background: rgba(54,66,74,1)
  border-bottom: 1px solid #f1f2f7
.title
  margin-left: -1px
  
  

// sua thanh menu
.navbar-inverse .navbar-nav
  margin-right: 70px
  li 
    a
      color: #999
.navbar-inverse
  background-image: linear-gradient(to bottom,#c13513,#992a05)
  //background-color: #ae310d
  color:black
.navbar-inverse 
    
  border-color: #ae310d

    
#main-menu
  
  border: 1px solid white
  ul 
    li 
      a:hover
        border-top: 1px solid black
        color:yellow
        background-color : orange

        
/*.navbar-inverse .navbar-nav
  .open
    a
      color:blue
      background-color : #93F7F1
   
.navbar-inverse .navbar-nav
    .open
      a:focus
        color:blue
        background-color : #93F7F1
.navbar-inverse .navbar-nav
    .open
      a:hover
        color:blue
        background-color : #93F7F1*/

.navbar-inverse .navbar-toggle .icon-bar 
    background-color: blue


  
.navbar-nav
  li
    .dropdown-menu
      //margin-top :0px
      margin-left:-10px
      //background-color:rgba(222, 239, 247, 0.41)
      color:black
      //border-top: 1px solid black
      a 
        height :45px
        padding-top:10px
        margin-top: -5px
        margin-bottom: -5px
    
   
.navbar-inverse .navbar-nav li a:focus, .navbar-inverse .navbar-nav li a:hover 
              
  border-top: 1px solid black
  color:black
  background-color : orange
   
.menu
  min-height: 30px
  float:center
  width: 100%
  margin-bottom:-5px
.modal
  background-color: rgba(252, 248, 227, 0);
.modal-backdrop.fade.in
  z-index: 0
@media screen and (min-width: 320px)
  .header1
    height: 20px
    //background-color:white
@media screen and (min-width: 768px)
  .header1
    height: 40px
    // background:#1579bd
@media screen and (min-width: 100px)
  .listpost  
    margin-top: 150px
@media screen and (min-width: 310px)
  .listpost  
    margin-top:150px
    height:60px
@media screen and (min-width: 700px)
  .listpost  
    margin-top: 250px
    height:60px
@media screen and (min-width: 900px)
  .listpost  
    margin-top:200px
    height:60px
@media screen and (min-width: 1020px)
  .listpost  
    margin-top: 150px
@media screen and (min-width: 1360px)
  .listpost  
    margin-top:100px
    height: 60px
// @media screen and (min-width: 1020px)
//   #list-port
//     width: 240px
//     height: 100%
// @media screen and (min-width: 1020px)
//   #list-port
//     width: 240px
//     height: 100%
// @media screen and (min-width: 1360px)
//   #list-port
//     height: 220px
// @media screen and (min-width: 1024px)
//   .listpost  
//     margin-top: 110px
// @media screen and (min-width: 320px)
//   #id
//     height: 100%
//     width: 100%
// @media screen and (min-width: 768px)
//   #id
//     height: 100%
// @media screen and (min-width: 320px)
//   #id-main
//     margin-top: 50px
// .post-title
//   height:60px
//   width:100%
// .post-title-main
//   line-height:-4px
//   text-align:left
//   background-color: black
//   height:60px
//   color :white
//   //font-size :30px
// .post-title-child
//   height:60px
//   font-size:25px
//   color:white
//   background-color: orange
@media screen and (min-width: 100px)
  .post-title 
    margin-top: 150px
@media screen and (min-width: 310px)
  .post-title  
    margin-top: 30px
    height:60px
@media screen and (min-width: 760px)
  .post-title  
    margin-top:80px
    height:60px
@media screen and (min-width: 900px)
  .post-title  
    margin-top: 30px
@media screen and (min-width: 1360px)
  .post-title  
    margin-top:0px
    height: 60px
// .post-title
//   //margin-top: 20px
//   height:60px
//   width:100%
.post-title-main
  h4 
    //margin-top:-2px
    line-height:15px
  h5
    //margin-top:-2px
    line-height:15px
  text-align:left
  background-color: black
  height:70px
  color :white
  margin-top:8px
  // font-size :18px
.post-title-child
  height:70px
  font-size:15px
  color:white
  //background-color: #FF7200
  background: -webkit-linear-gradient( yellow,red)
  margin-top:8px
// @media screen and (min-width: 310px)
//   #id-search
//     float:right
//     width:100%
// @media screen and (min-width: 470px)
//   #id-search
//     float:right
//     width:100%
// @media screen and (min-width: 760px)
//  #id-search
//     float:right
//     width:100%
// @media screen and (min-width: 1280px)
//  #id-search
//     float:right
//     width:100%
// @media screen and (min-width: 310px)
//   .navbar-toggle
//     // margin-left: -300px
//     // margin-right: 300px
//     float:left
//     margin-top: -55px
@media screen and (min-width: 310px)
  .navbar-toggle
    // margin-left: -380px
    // margin-right: 480px
    float:left
    margin-top: -40px
    
@media screen and (min-width: 470px)
  .navbar-toggle
    // margin-left: -380px
    // margin-right: 480px
    float:left
    margin-top: -40px
@media screen and (min-width: 760px)
  .navbar-toggle
    // margin-left: -100px
    // margin-right: 900px
    float:left
    margin-top: -40px
@media screen and (min-width: 310px)
  #home-slideshow
    margin-top: 100px
@media screen and (min-width: 760px)
  #home-slideshow
    margin-top: 100px
@media screen and (min-width: 970px)
  #home-slideshow
    margin-top: 0px
.lead
  font-size: 14px
@media screen and (min-width: 310px)
  #id-p
    margin-top:35px
@media screen and (min-width: 1250px)
  #id-p
    margin-top:0px  
@media screen and (min-width: 1300px)
  #id-search
    margin-left: 80px
// .menu1
//   background-color:#1579bd
//search
// #search-box
//   position: relative
//   width: 100%
//   margin: 0

#search-form 
  height: 40px
  border: 1px solid #999
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  background-color: #fff
  overflow: hidden
#search-text 
  font-size: 14px
  color: #ddd
  border-width: 0
  background: transparent

// #search-box input[type="text"]
//   width: 90%
//   padding: 11px 0 12px 1em
//   color: #333
//   outline: none
#search-button
  position: absolute
  top: 0
  right: 0
  height: 40px
  width: 80px
  font-size: 14px
  color: #fff
  text-align: center
  line-height: 42px
  border-width: 0
  background-color: #4d90fe
  -webkit-border-radius: 0px 5px 5px 0px
  -moz-border-radius: 0px 5px 5px 0px
  border-radius: 0px 5px 5px 0px
  cursor: pointer
@media screen and (min-width: 310px)
  #search-box
    position: relative
    width: 150%
    margin-top:5px
    margin-left:-135px
    //margin-right:-40px
    // margin-right:100px
  #search-box input[type="text"]
    width: 90%
    padding: 11px 0 12px 1em
    color: #333
    outline: none
@media screen and (min-width: 386px)
  #search-box
    position: relative
    width: 180%
    margin-top:5px
    margin-left:-180px
    //margin-right:-40px
    // margin-right:100px
  #search-box input[type="text"]
    width: 90%
    padding: 11px 0 12px 1em
    color: #333
    outline: none
@media screen and (min-width: 450px)
  #search-box
    position: relative
    width: 170%
    margin-left:-180px
    // margin-left:-200px
    // margin-right:80px
  #search-box input[type="text"]
    width: 90%
    padding: 11px 0 12px 1em
    color: #333
    outline: none
@media screen and (min-width: 600px)
  #search-box
    position: relative
    width: 170%
    margin-left:-250px
    // margin-left:-280px
    // //margin-right:250px
  #search-box input[type="text"]
    width: 90%
    padding: 11px 0 12px 1em
    color: #333
    outline: none
@media screen and (min-width: 760px)
  #search-box
    position: relative
    width: 180%
    margin-left:-350px
    margin-right:20px
    // margin-left:-350px
    // margin-right:80px
  #search-box input[type="text"]
    width: 90%
    padding: 11px 0 12px 1em
    color: #333
    outline: none
@media screen and (min-width: 1020px)
  #search-box
    position: relative
    width: 120%
    margin-top: 8px
    margin-right:-30px
    margin-left:50px
  #search-box input[type="text"]
    width: 90%
    padding: 11px 0 12px 1em
    color: #333
    outline: none
@media screen and (min-width: 310px)
  .first-post-content
    height: 120px
@media screen and (min-width: 900px)
  .first-post-content
    height: 130px
  .first-post-thumbnail
    width:100%
    height:100%
@media screen and (min-width: 1100px)
  .first-post-content
    height:110px
@media screen and (min-width: 310px)
  .next-post-title 
    margin-left:-5px
  .first-post-thumbnail
    width:100%
    height:100%
@media screen and (min-width: 470px)
  .next-post-title 
    margin-left:-35px
  .first-post-thumbnail
    width:100%
    height:100%
  .first-post-content
    height:80px
@media screen and (min-width: 630px)
  .next-post-title 
    margin-left:-100px
  .first-post-thumbnail
    width:90%
    height:90%
  .first-post-content
    height: 50px
@media screen and (min-width: 760px)
  .next-post-title 
    margin-left:-100px
  .first-post-thumbnail
    width:100%
    height:100%
  .first-post-content
    height:150%
@media screen and (min-width: 900px)
  .next-post-title 
    margin-left:10px
  .first-post-thumbnail
    width:100%
    height:100%
  .first-post-content
    height:200px
  #search-box
    position: relative
    width: 100%
    margin-left: -30px
    margin-right: 20px
    // margin-left:-350px
    // margin-right:80px
  #search-box input[type="text"]
    width: 90%
    padding: 11px 0 12px 1em
    color: #333
    outline: none
@media screen and (min-width: 1020px)
  .next-post-title 
    margin-right:-20px
    margin-left: 10px  
  .first-post-thumbnail
    width:120%
    height:120%
  .first-post-content
    height: 145px
@media screen and (min-width: 1270px)
  .next-post-title 
    margin-right:-20px
    //margin-left: 10px  
  .first-post-thumbnail
    width:120%
    height:120%
  .first-post-content
    height: 90px
.title-list-post
  color: white
  font-family: Arial,Helvetica,sans-serif
  //margin-left: -12px;
.title-list-post:hover
  color: #333
  text-decoration: none
  transition: color 0.5s
// #main-container 
//  background-color: orange