doctype html
html(ng-controller="BaseCtrl")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='keywords', content='')
    title(ng-bind="title")
    base(href="/")
    script(src='/javascripts/jquery-2.1.4.min.js')
    link(rel="shortcut icon",type="image/x-icon",href="mine.ico")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800")
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='css/style.css', type='text/css')
    link(rel='stylesheet', href='css/responsive.css', type='text/css')
    link(rel='stylesheet', href='css/perfect-scrollbar.css')
    link(rel='stylesheet', href='css/owl.carousel.css', type='text/css')
    link(rel='stylesheet', href='css/animate.css', type='text/css')
    link(rel='stylesheet', href='css/colors/color.css', type='text/css')


  body(ng-cloak,onload='goforit()')
    .container-fluid#main-container
                    p(ng-hide="error_message.length <= 0", ng-bind="error_message")
                    p(ng-hide="error_message.length <= 0", ng-bind="error_message")        
      .row.header
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
          .logo(style="margin-top :2px;")
            img(src="./images/logo3.png")
        .col-lg-4.col-md-4.col-sm-6.col-xs-6
          #search
            form.navbar-form(role='search')
              .input-group
                input.form-control(type='text', placeholder='Search', name='q')
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    i.glyphicon.glyphicon-search
          
        .col-lg-4.col-md-4.col-sm-6.col-xs-6
          .login-form(style="margin-top:10px;")
            .row
              .col-lg-2.col-md-2.col-sm-3.col-xs-3
                button.btn.btn-default(style ="submit") Login
              .col-lg-2.col-md-2.col-sm-3.col-xs-3
                button.btn.btn-primary(style="submit") Sign in
      .row.menu
        //- .container
        //-   .col-lg-12.col-md-12-col-sm-12.col-xs-12
        //-     .row
        //-       .col-lg-1.col-md-1.col-sm-12.col-xs-12
        //-       .col-lg-1.col-md-1.col-sm-12.col-xs-12
        //-       .col-lg-2.col-md-2.col-sm-12.col-xs-12
        //-       .col-lg-2.col-md-2.col-sm-12.col-xs-12
        //-       .col-lg-1.col-md-1.col-sm-12.col-xs-12
        //-       .col-lg-1.col-md-1.col-sm-12.col-xs-12
        //-       .col-lg-1.col-md-1.col-sm-12.col-xs-12
        
        nav.navbar.navbar-inverse
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main-menu')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          //.navbar-header.col-md-offset-2
            a.navbar-brand(href='') example.com
          .col-md-offset-3#main-menu.navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href='') HOME
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | ETCF 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Assessment tools
                  li
                    a(href='#') Background and Overview
                  li
                    a(href='#') Complete version
                  li.divider(role='separator')
                  li
                    a(href='#') Domain 1-Language
                  li
                    a(href='#') Domain 2-Teaching
                  li
                    a(href='#') Domain 3-Learners
                  li
                    a(href='#') Domain 4-Attitudes and Values
                  li
                    a(href='#') Domain 5-Learning form Practice
                  li.divider(role='separator')
                  li
                    a(href='#') For Trainers-How to use ETCF
                  li
                    a(href='#') ETCF presentations
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | USER
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Edit Profile
                  li
                    a(href='#') Password reset
                  li
                    a(href='#') Login
                  li
                    a(href='#') Register
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | GALLERY
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Da Nang RFLC
                  li
                    a(href='#') Ha Noi Pedagogical University 2
              li
                a(href='#') PRESENTATIONS
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | VIDEOS
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Articles with video
                  li
                    a(href='#') Shaping the way we teach English
              li
                a(href='#') NEWS
              
              //li.dropdown.navbar-right
                a(data-toggle='dropdown', href='')
                  | My Account 
                  span.caret
                ul.dropdown-menu
                  // danh sach menu (li)
                  li
                    a(href='') Profile
                  li
                    a(href='') Change Password
  

                  




                  
      
      .row.menu-bar
        //- .container
        //-   .row
        //-     .col-lg-1.col-md-1.col-sm-0.col-xs-0
        //-     .col-lg-1.col-md-1.text-center.menu-items
        //-       i.fa.fa-home
        //-       span Home
        //-     .col-lg-1.col-md-1.col-sm-12.col-xs-12.text-center.menu-items
        //-       i.fa.fa-pencil 
        //-       span ETCF
               

        //-     .col-lg-1.col-md-1.col-sm-12.col-xs-12.text-center.menu-items
        //-       i.fa.fa-user 
        //-       span User
               
        //-     .col-lg-2.col-md-2.col-sm-12.col-xs-12.text-center.menu-items 
        //-       i.fa.fa-picture-o 
        //-       span Gallery
              
        //-     .col-lg-2.col-md-2.col-sm-12.col-xs-12.menu-items 
        //-       i.fa.fa-slideshare 
        //-       span Presentations
        //-     .col-lg-1.col-md-1.col-sm-12.col-xs-12.menu-items
        //-       i.fa.fa-video-camera 
        //-       span Videos
               
        //-     .col-lg-1.col-md-1.col-sm-12.col-xs-12.text-center.menu-items 
        //-       i.fa.fa-newspaper-o 
        //-       span News
       

      block content

script(src="/libs/requirejs/require.js", data-main="/javascripts/website/main.js")
script(type='text/javascript', src='js/modernizr.js')
script(src='js/jquery-2.1.4.js')
script(type='text/javascript', src='js/html5lightbox.js') 
script(type='text/javascript', src='js/scrolltopcontrol.js')
script(type='text/javascript', src='js/slick.min.js')
script(type='text/javascript', src='js/owl.carousel.min.js')
script(type='text/javascript', src='js/highlight.pack.js')
script(type='text/javascript', src='js/tabifier.js')
script(type='text/javascript', src='js/js.js')
script(type='text/javascript', src='js/jPages.min.js')
script(type='text/javascript', src='js/perfect-scrollbar.js')
script(type='text/javascript', src='js/perfect-scrollbar.jquery.js')
script(src='js/script.js')
script(src='js/clock.js')
script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  

script.
  $(document).ready(function(){
    $('#search-area').on('click', function() {
      $(this).toggleClass('click-bg');
      $('.search-input').toggleClass('show-input-field');
    });
  });
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='js/bootstrap.min.js')
  
