doctype html
html(ng-controller="BaseCtrl")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='keywords', content='')
    title(ng-bind="title")
    base(href="/")
    script(src='/javascripts/jquery-2.1.4.min.js')
    link(rel="shortcut icon",type="image/x-icon",href="mine.ico")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800")
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='css/style.css', type='text/css')
    link(rel='stylesheet', href='css/responsive.css', type='text/css')
    link(rel='stylesheet', href='css/perfect-scrollbar.css')
    link(rel='stylesheet', href='css/owl.carousel.css', type='text/css')
    link(rel='stylesheet', href='css/animate.css', type='text/css')
    link(rel='stylesheet', href='css/colors/color.css', type='text/css')


  body(ng-cloak,onload='goforit()')
    .container-fluid#main-container
      //- p(ng-hide="error_message.length <= 0", ng-bind="error_message")
      //- p(ng-hide="error_message.length <= 0", ng-bind="error_message")        
      .row.header
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
          .logo(style="margin-top :2px;")
            img(src="./images/logo3.png")
        .col-lg-4.col-md-4.col-sm-6.col-xs-6
          #search
            form.navbar-form(role='search')
              .input-group
                input.form-control(type='text', placeholder='Search', name='q')
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    i.glyphicon.glyphicon-search
          
        .col-lg-4.col-md-4.col-sm-6.col-xs-6.text-center
          .login-form(style="margin-top:10px;")
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                button.btn.btn-default(style ="submit") Login
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                button.btn.btn-primary(style="submit") Sign in
      
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .row.menubar
            .col-lg-1.col-md-1.col-sm-12.col-xs-12.menubar-item.active-item
              .menubar-item-highlight
              span Home
            .col-lg-1.col-md-1.col-sm-12.col-xs-12.menubar-item
              .menubar-item-highlight
              span ETCF
              .submenubar
                .submenubar-item Assessment tools
                .submenubar-item Background and Overview
                .submenubar-item Complete versions
                .submenubar-item Domain 1 - Language
                .submenubar-item Domain 2 - Teaching
                .submenubar-item Domain 3 - Learners
                .submenubar-item Domain 4 - Attitudes and Values
                .submenubar-item Domain 5 - Learning from Practice
                .submenubar-item For Trainers - How to use ETCF
                .submenubar-item ETCF Presentation
            .col-lg-1.col-md-1.col-sm-12.col-xs-12.menubar-item
              .menubar-item-highlight
              span User
              .submenubar
                .submenubar-item Edit Profile
                .submenubar-item Password Reset
                .submenubar-item Login
                .submenubar-item Register
            .col-lg-1.col-md-1.col-sm-12.col-xs-12.menubar-item
              .menubar-item-highlight
              span Gallery
              .submenubar
                .submenubar-item Da Nang RFLC
                .submenubar-item Ha Noi Pedagogical University 2
            .col-lg-2.col-md-2.col-sm-12.col-xs-12.menubar-item 
              .menubar-item-highlight
              span Symposium Presentations
            .col-lg-2.col-md-2.col-sm-12.col-xs-12.menubar-item
              .menubar-item-highlight
              span Video Materials
              .submenubar
                .submenubar-item Articles with videos
                .submenubar-item Shaping the way we teach English
            .col-lg-1.col-md-1.col-sm-12.col-xs-12.menubar-item 
              .menubar-item-highlight
              span News
      block content

    script(src="/libs/requirejs/require.js", data-main="/javascripts/website/main.js")
    script(type='text/javascript', src='js/modernizr.js')
    //- script(src='js/jquery-2.1.4.js')
    script(type='text/javascript', src='js/html5lightbox.js') 
    script(type='text/javascript', src='js/scrolltopcontrol.js')
    script(type='text/javascript', src='js/slick.min.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/highlight.pack.js')
    script(type='text/javascript', src='js/tabifier.js')
    script(type='text/javascript', src='js/js.js')
    script(type='text/javascript', src='js/jPages.min.js')
    script(type='text/javascript', src='js/perfect-scrollbar.js')
    script(type='text/javascript', src='js/perfect-scrollbar.jquery.js')
    script(src='js/script.js')
    script(src='js/clock.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  

script.
  $(document).ready(function(){
    
    $('#search-area').on('click', function() {
      $(this).toggleClass('click-bg');
      $('.search-input').toggleClass('show-input-field');
    });
    
    $('.menubar-item').on('click', function() {
      $('.menubar-item').removeClass('active-item');
      $(this).addClass('active-item');
    });


  });

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='js/bootstrap.min.js')
  
