doctype html
html(ng-controller="BaseCtrl")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='keywords', content='')
    title(ng-bind="title")
    base(href="/")
    link(rel="shortcut icon",type="image/x-icon",href="mine.ico")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800")
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  
    // Fonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,600,800', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')



  body(ng-cloak)
    .container-fluid#main-container 
      //.top(style="width:100%;height:160px;position:fixed;top:0;z-index:3;background-color:#ffffff;")  
      .header1.navbar-fixed-top      
        
        .row.menu.container-fluid(style="margin-left:1px;")
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            nav.navbar.navbar-inverse
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main-menu' style="margin-top:23px;")
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              .navbar-header
                a.navbar-brand(href='/', ng-click="scrollTop()") 
                  img(src='./images/logo001.jpg' style="height:50px;margin-top:-15px;margin-right:-15px;")
              #main-menu.navbar-collapse.collapse
                ul.nav.navbar-nav
                  li
                    a(href='/', ng-click="scrollTop()")
                      | Home
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                      | ETCF 
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='/Assessment_tools', ng-click="scrollTop()") Assessment tools
                      li
                        a(href='#') Background and Overview
                      li
                        a(href='#') Complete version
                      //li.divider(role='separator')
                      li
                        a(href='#') Domain 1-Language
                      li
                        a(href='#') Domain 2-Teaching
                      li
                        a(href='#') Domain 3-Learners
                      li
                        a(href='#') Domain 4-Attitudes and Values
                      li
                        a(href='#') Domain 5-Learning form Practice
                      //li.divider(role='separator')
                      li
                        a(href='#') For Trainers-How to use ETCF
                      li
                        a(href='#') ETCF presentations
                  
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                       | Gallery
                       span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Da Nang RFLC
                      //li.divider(role='separator')
                      li
                        a(href='#') Ha Noi Pedagogical University 2
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                       | Video Materials
                       span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Articles with video
                      //li.divider(role='separator')
                      li
                        a(href='#') Shaping the way we teach English
                  li
                    a(href="")
                       | Presentations
                  
                  li
                    a(href='#') 
                      | News

                ul.nav.navbar-nav.navbar-right(ng-controller="LoginCtrl")
                  li#login_h(style="margin-top:9px;margin-right:5px;")
                    button.btn.btn-default(type='submit', data-toggle='modal', data-target='#login') Login
                  #login.modal.fade(role='dialog')
                    .modal-dialog(style="max-width:500px;")
                        .modal-content
                          .modal-header
                            h3.text-center Login
                          .modal-body
                            .row
                              form.form-inline(role='form')
                                .form-group
                                  .col-lg-6.col-md-6.col-sm-12.col-xs-12
                          
                                    label.sr-only.control-label
                                      | Username
                                      span.text-danger *
                                   
                                    input.form-control(type='text' placeholder='Username *' autofocus, ng-model='user.username')
                                .form-group
                                  .col-lg-6.col-md-6.col-sm-12.col-xs-12
                                    label.sr-only.control-label
                                      | Password
                                      span.text-danger *
                                    input.form-control(type='password' placeholder='Password *', ng-model='user.password')
                                .checkbox.col-lg-offset-1.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
                                  label
                                    input(type='checkbox')
                                    |  Remember password
                              p.errors(ng-bind="error_message")
                          .modal-footer
                            button.btn.btn-primary.col-lg-offset-3.col-lg-3.col-md-3.col-sm-3.col-xs-3(type='submit', ng-click='login()') Login
                            button#cancel.btn.btn-default.col-lg-offset-3.col-lg-3.col-md-3.col-sm-3.col-xs-3(type='submit' data-dismiss="modal") Cancel
                  li#register_h(style="margin-top:9px;margin-right:-9px;")
                    button.btn.btn-primary#btnRegister(type='submit', data-toggle='modal', data-target='#register') Register
                  #register.modal.fade(role='dialog', ng-controller="RegisterCtrl")
                    .modal-dialog(style="max-width:500px;")
                        .modal-content
                            .modal-header
                              h3.text-center Sign in
                            .modal-body(style="margin-top : -20px;")
                              .row
                                  form(name='myForm')
                                    .form-group
                                      .col-md-12
                                        label.sign-in-label
                                          | User name
                                          span.text-danger *
                                        input#name.form-control(type='text', ng-model="user.username")
                                        //- input#username.form-control(type='text', name='username',ng-model="user.username", ng-minlength='5', ng-maxlength='20', ng-pattern='/^[A-z][A-z0-9]*$/', required='')
                                        span(ng-show='myForm.username.$error.required && myForm.username.$dirty' style="color: red") required
                                        span(ng-show='!myForm.username.$error.minLength && !myForm.username.$error.maxLength && myForm.username.$error.pattern && myForm.username.$dirty' style="color: red") Must start with a letter, and contain letters & numbers only.
                                        span(ng-show='!myForm.username.$error.required && (myForm.username.$error.minlength || myForm.username.$error.maxlength) && myForm.username.$dirty' style="color: red") Username ust be between 5 and 20 characters.
                                    .form-group
                                      .col-md-6
                                        label.sign-in-label
                                          | Password
                                          span.text-danger *
                                        input.form-control(type='password', ng-model="user.password")
                                        //- input#password.form-control(type='password', name='password', ng-model="user.password", ng-minlength='8', ng-maxlength='20', ng-pattern='/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/', required='')
                                        span(ng-show='myForm.password.$error.required && myForm.password.$dirty' style="color: red") required
                                        span(ng-show='!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty' style="color: red") Passwords must be between 8 and 20 characters.
                                        span(ng-show='!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength && myForm.password.$error.pattern && myForm.password.$dirty' style="color: red")
                                          | Must contain one lower & uppercase letter, and one non-alpha character (a number or a symbol.)
                                      .col-md-6
                                        label.sign-in-label
                                          | Confirm Password
                                          span.text-danger *
                                        input.form-control(type='password', ng-model="repassword")
                                        //- input#password_c.form-control(type='password', name='password_c', ng-model="repassword", valid-password-c='', required='')
                                        span(ng-show='myForm.password_c.$error.required && myForm.password_c.$dirty' style="color: red") Please confirm your password.
                                        span(ng-show='!myForm.password_c.$error.required && myForm.password_c.$error.noMatch && myForm.password.$dirty' style="color: red") Passwords do not match.
                                    .form-group
                                      .col-md-6
                                        label.sign-in-label 
                                          | Name
                                          //- span.text-danger *
                                        input.form-control(type='text', ng-model="user.full_name")
                                        //- input#name.form-control(type='text', name='name', ng-model="user.full_name")
                                      .col-md-6
                                        label.sign-in-label
                                          | Email
                                          span.text-danger *
                                        input.form-control(type='text', ng-model="user.email")
                                        //- input#email.form-control(type='email', name='email', ng-model="user.email", required='')
                                        span(ng-show='myForm.email.$error.required && myForm.email.$dirty' style="color: red") required
                                        span(ng-show='!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty' style="color: red") invalid email
                            .modal-footer
                              button.btn.btn-primary.col-md-3.col-md-offset-3(type='submit', ng-click="register()", ng-disabled="!myForm.$valid") Register
                              button#cancel_register.btn.btn-default.col-md-3(type='submit' data-dismiss="modal") Cancel

                  li#user.avatar
                    a(href='#')
                      |  {{user.username}}
                      img.user-img.img-circle(src='images/admin/user_admin.png')
                  li#logout
                    a(href='#', ng-click='logout()')
                      i.fa.fa-sign-out
                      |  Sign out

                  li(style="margin-top:1.3px;")#search0
                    form.navbar-form(role='search')
                      .input-group
                        input.form-control(type='text', placeholder='Search', name='q')
                        .input-group-btn
                          button.btn.btn-default(type='submit')
                            i.glyphicon.glyphicon-search
          .addsearch
            form.navbar-form(role='search')#search1
              .input-group
                input.form-control(type='text', placeholder='Search', name='q')
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    i.glyphicon.glyphicon-search
      block content

    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/libs/bootstrap/js/bootstrap.min.js')
    script(src="/libs/requirejs/require.js", data-main="/javascripts/website/main.js")

script.
  $(document).ready(function(){
    
    $('#search-area').on('click', function() {
      $(this).toggleClass('click-bg');
      $('.search-input').toggleClass('show-input-field');
    });
    
    $('.menubar-item').on('click', function() {
      $('.menubar-item').removeClass('active-item');
      $(this).addClass('active-item');
    });


  });


  
script.
  $(function(){
    $('.dropdown').hover(function() {
        $(this).addClass('open');
    },
    function() {
        $(this).removeClass('open');
    });
  });
//- script.
  //- $(document).load($(window).bind("resize", checkPosition));

  //- function checkPosition()
  //- {
  //-     if($(window).width() < 767)
  //-     {
  //-         $("#main-container .header1 .addsearch").insertBefore($("#search1"));
  //-     //- } else {
  //-     //-     $("#body-container .main-content").remove().insertAfter($("#body-container .left-sidebar"));
  //-     //- }
  //- }