.row(style="margin-top:90px;")
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .slider
      // slideshow
      #home-slideshow.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#home-slideshow', data-slide-to='0')
          li(data-target='#home-slideshow', data-slide-to='1')
          li(data-target='#home-slideshow', data-slide-to='2')
        // Wrapper for slides
        .carousel-inner(role='listbox')
          .item.active
            img(src='images/1.jpg', alt='aaa', style="width:100%; height:100%;")
            //- .carousel-caption
            //-   | Teacher Training
          .item
            img(src='images/2.jpg', alt='bbb', style="width:100%; height:100%;")
            //- .carousel-caption
            //-   | Presentations
          .item
            img(src='images/3.jpg', alt='ccc', style="width:100%; height:100%;")
            //- .carousel-caption
            //-   | Method Learning
          a.left.carousel-control(href='#home-slideshow', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
          a.right.carousel-control(href='#home-slideshow', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next
.row
  .col-lg-12.col-md-12.col-sm-0.col-xs-0
    .col-lg-12.col-md-12.col-sm-12.col-xs-12#assess
      h4
        span#lead3 English Teacher Competency Framework (ETCF)
      .navbar-nav.navbar-right
        a(href='/Assessment_tools')
         img(src='images/up.png' style="width:20px;height:20px;margin-top:-60px;margin-right:20px;")
.row
  .col-lg-12.col-md-12.col-sm-0.col-xs-0(style="height: 15px;")
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-4#file1
              p.lead#lead1
                |Assessment tools (13)
            .col-lg-6.col-md-6.col-sm-6.col-xs-8#download1
              .navbar-nav.navbar-right
                input.styled-button-11(type='submit', value='Detail')
                input.styled-button-10(type='submit', value='Download')
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-4#file1
              p.lead#lead1
                |Background and Overview (6)
             .col-lg-6.col-md-6.col-sm-6.col-xs-8#download1
              .navbar-nav.navbar-right
                input.styled-button-11(type='submit', value='Detail')
                input.styled-button-10(type='submit', value='Download')

      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-4#file1
              p.lead#lead1
                |Complete versions (3)
             .col-lg-6.col-md-6.col-sm-6.col-xs-8#download1
              .navbar-nav.navbar-right
                input.styled-button-11(type='submit', value='Detail')
                input.styled-button-10(type='submit', value='Download')
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-4#file1
              p.lead#lead1
                |Domain 1 - Language (2)
            .col-lg-6.col-md-6.col-sm-6.col-xs-8#download
              .navbar-nav.navbar-right
                input.styled-button-11(type='submit', value='Detail')
                input.styled-button-10(type='submit', value='Download')
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12.footer
    
    .col-lg-4.col-md-4-col-sm-12.col-xs-12
    
     
      h2 Responsive
      p 
        | uis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae
        | Thanks for the head up! :) http://support.envato.com was very helpful for me, much appreacitated. 3 days ago 
    .col-lg-4.col-md-4-col-sm-12.col-xs-12
      
      h2 Recent Posts
      p Envato's Most Wanted - $4,500 Reward for the First 15 Crowd Funding Themes
      hr(style="margin-top:5px; margin-bottom:1px;")
      p Envato's Most Wanted - $4,500 Reward for the First 15 Crowd Funding Themes
      hr(style="margin-top:5px; margin-bottom:1px;")
      p Envato's Most Wanted - $4,500 Reward for the First 15 Crowd Funding Themes
    .col-lg-4.col-md-4-col-sm-12.col-xs-12

      h2 Latest Tweets
      p  Thanks for the head up! :) http://support.envato.com was very helpful for me, much appreacitated. 3 days ago 
      hr(style="margin-top:5px; margin-bottom:1px;")
      p  Thanks for the head up! :) http://support.envato.com was very helpful for me, much appreacitated. 3 days ago 
      hr(style="margin-top:5px; margin-bottom:1px;")
      p  Thanks for the head up! :) http://support.envato.com was very helpful for me, much appreacitated. 3 days ago 

