//- home.jade to bind data
.container-fluid
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .slider
        // slideshow
        #home-slideshow.carousel.slide(data-ride='carousel')
          // Indicators
          ol.carousel-indicators
            li.active(data-target='#home-slideshow', data-slide-to='0')
            li(data-target='#home-slideshow', data-slide-to='1')
            li(data-target='#home-slideshow', data-slide-to='2')
          // Wrapper for slides
          .carousel-inner(role='listbox')
            .item.active
              img(src='images/1.jpg', alt='aaa', style="width:100%;")
              //- .carousel-caption
              //-   | Teacher Training
            .item
              img(src='images/2.jpg', alt='bbb', style="width:100%;")
              //- .carousel-caption
              //-   | Presentations
            .item
              img(src='images/3.jpg', alt='ccc', style="width:100%;")
              //- .carousel-caption
              //-   | Method Learning
            a.left.carousel-control(href='#home-slideshow', role='button', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
              span.sr-only Previous
            a.right.carousel-control(href='#home-slideshow', role='button', data-slide='next')
              span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
              span.sr-only Next

  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12(ng-repeat="(groupId,group) in groups track by $index")
      .groups
        .row
          // 1 -category
          //- .col-lg-4.col-md-4.col-sm-12.col-xs-12(ng-repeat="catalory in group.catalories track by $index")
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title
                    h3(ng-bind="catalory.name")
              .row.categories-content
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      .first-post
                        .row
                          .col-lg-12.col-md-12.col-sm-12.col-xs-12
                            .first-post-thumbnail.img-rounded
                              img(src="./images/tit1.jpg")
                            .first-post-title
                              h4
                                a(href ="#")(ng-bind="catalory.posts[1].title")
                            .first-post-content
                              p(ng-bind="catalory.posts[1].content | limitTo:100")
                            .first-post-index
                              p
                                span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                                  a(href="#")(style="margin-left:10px;") 4504
                                  
                                span.glyphicon.glyphicon-time(style="margin-right:20px;")
                                  a(href="#")(style="margin-left:10px;")(ng-bind="catalory.posts[1].date_create | date:'dd/MM/yyyy'")
                                
                                span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                                  a(href="#")(style="margin-left:10px;")(ng-bind="catalory.posts[1].comments.length")
                  .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      .next-post
                        .row
                          .col-lg-2.col-md-3.col-sm-3.col-xs-3
                            .next-post-thumbnail.img-rounded
                              img(src="./images/next1.jpg")
                          .col-lg-10.col-md-9.col-sm-9.col-xs-9
                            .next-post-title 
                              a(href ="#")(ng-bind="catalory.posts[2].title")
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      .next-post
                        .row
                          .col-lg-2.col-md-3.col-sm-3.col-xs-3
                            .next-post-thumbnail.img-rounded
                              img(src="./images/next2.jpg")
                          .col-lg-10.col-md-9.col-sm-9.col-xs-9
                            .next-post-title
                              a(href ="#")(ng-bind="catalory.posts[2].title")
          //2
          .col-lg-4.col-md-4.col-sm-12.col-xs-12(ng-repeat="catalory in group.catalories track by $index")
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title
                    a.title(ng-href="{{group.slug+'/'+catalory.slug}}", ng-click="scrollTop()")
                      h3(ng-bind="catalory.name")

              .row.categories-content
                .col-lg-12.col-md-12.col-sm-12.col-xs-12(ng-repeat="post in catalory.posts | limitTo: 3 track by $index")
                  .row(ng-if="$index == 0")
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      .first-post
                        .row
                          .col-lg-12.col-md-12.col-sm-12.col-xs-12
                            .first-post-thumbnail.img-rounded
                              img(src="./images/tit1.jpg")
                            .first-post-title
                              h4
                                a.title(ng-bind="catalory.posts[$index].title", ng-href="{{group.slug+'/'+catalory.slug+'/'+catalory.posts[$index].slug}}", ng-click="scrollTop()")
                            .first-post-content
                              //- p(ng-if="catalory.posts[$index].content.length >= 100" ng-bind-html="catalory.posts[$index].content | limitTo:100 | unsafe")
                              //- p(ng-if="catalory.posts[$index].content.length <  100" ng-bind-html="catalory.posts[$index].content | unsafe")
                              //- p {{catalory.posts[$index].content.length > 100 ? catalory.posts[$index].content.substring(0,100) + '...' : catalory.posts[$index].content}}
                              p(ng-if="catalory.posts[$index].content.length >= 100" ng-bind-html="catalory.posts[$index].content.substring(0,100) + '...' | unsafe")
                              p(ng-if="catalory.posts[$index].content.length <  100" ng-bind-html="catalory.posts[$index].content | unsafe")
                            .first-post-index
                              p
                                span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                                  a(href="#")(style="margin-left:10px;") 4504
                                  
                                span.glyphicon.glyphicon-time(style="margin-right:20px;")
                                  a(href="#")(style="margin-left:10px;")(ng-bind="catalory.posts[$index].date_create | date:'dd/MM/yyyy'")
                                
                                span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                                  a(href="#")(style="margin-left:10px;")(ng-bind="catalory.posts[$index].comments.length")
                  .row(ng-if="$index != 0")
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      .next-post
                        .row
                          .col-lg-2.col-md-3.col-sm-3.col-xs-3
                            .next-post-thumbnail.img-rounded
                              img(src="./images/next1.jpg")
                          .col-lg-10.col-md-9.col-sm-9.col-xs-9
                            .next-post-title 
                              a.title(ng-bind="catalory.posts[$index].title", ng-href="{{group.slug+'/'+catalory.slug+'/'+catalory.posts[$index].slug}}", ng-click="scrollTop()")
