.container-fluid
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .slider
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .groups
        .row
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h2 Technology
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail
                        .first-post-title
                          h4 Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title Justice Department tries to force Google to hand over user data
          
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h2 Technology
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail
                        .first-post-title
                          h4 Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title Justice Department tries to force Google to hand over user data
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h2 Technology
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail
                        .first-post-title
                          h4 Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title Justice Department tries to force Google to hand over user data
