.container-fluid
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .slider
        // slideshow
        #home-slideshow.carousel.slide(data-ride='carousel')
          // Indicators
          ol.carousel-indicators
            li.active(data-target='#home-slideshow', data-slide-to='0')
            li(data-target='#home-slideshow', data-slide-to='1')
            li(data-target='#home-slideshow', data-slide-to='2')
          // Wrapper for slides
          .carousel-inner(role='listbox')
            .item.active
              img(src='images/1.jpg', alt='aaa', style="width:100%;")
              //- .carousel-caption
              //-   | Teacher Training
            .item
              img(src='images/2.jpg', alt='bbb', style="width:100%;")
              //- .carousel-caption
              //-   | Presentations
            .item
              img(src='images/3.jpg', alt='ccc', style="width:100%;")
              //- .carousel-caption
              //-   | Method Learning
            a.left.carousel-control(href='#home-slideshow', role='button', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
              span.sr-only Previous
            a.right.carousel-control(href='#home-slideshow', role='button', data-slide='next')
              span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
              span.sr-only Next

  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .groups
        .row
          //1
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h3 Góp ý xây dựng diễn đàn
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail.img-rounded
                          img(src="./images/tit1.jpg")
                        .first-post-title
                          h4
                            a(href ="#") Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
                          p
                            span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                              a(href="#")(style="margin-left:10px;") 4504
                              
                            span.glyphicon.glyphicon-time(style="margin-right:20px;")
                              a(href="#")(style="margin-left:10px;") 12:33PM
                            
                            span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                              a(href="#")(style="margin-left:10px;") 5
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-2.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next1.jpg")
                      .col-lg-10.col-md-9.col-sm-9.col-xs-9
                        .next-post-title 
                          a(href ="#") Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-2.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next2.jpg")
                      .col-lg-10.col-md-9.col-sm-9.col-xs-9
                        .next-post-title
                          a(href ="#") Justice Department tries to force Google to hand over user data
          
          //2
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h3 Góp ý xây dựng diễn đàn
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail.img-rounded
                          img(src="./images/tit1.jpg")
                        .first-post-title
                          h4
                            a(href ="#") Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
                          p
                              span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 4504
                                
                              span.glyphicon.glyphicon-time(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 12:33PM
                              
                              span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 5
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-2.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next1.jpg")
                      .col-lg-10.col-md-9.col-sm-9.col-xs-9
                        .next-post-title 
                          a(href ="#") Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-2.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next2.jpg")
                      .col-lg-10.col-md-9.col-sm-9.col-xs-9
                        .next-post-title
                          a(href ="#") Justice Department tries to force Google to hand over user data
          //3
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h3 Góp ý xây dựng diễn đàn
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail.img-rounded
                          img(src="./images/tit1.jpg")
                        .first-post-title
                          h4
                            a(href ="#") Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
                          p
                              span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 4504
                                
                              span.glyphicon.glyphicon-time(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 12:33PM
                              
                              span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 5
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-2.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next1.jpg")
                      .col-lg-10.col-md-9.col-sm-9.col-xs-9
                        .next-post-title 
                        a(href ="#") Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-2.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next2.jpg")
                      .col-lg-10.col-md-9.col-sm-9.col-xs-9
                        .next-post-title
                        a(href ="#") Justice Department tries to force Google to hand over user data
          



          //4 
        //- .row             
        //-   .col-lg-4.col-md-4.col-sm-12.col-xs-12
        //-     .categories
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .categories-title 
        //-             h2 Technology4
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .first-post
        //-             .row
        //-               .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-                 .first-post-thumbnail
        //-                 .first-post-title
        //-                   h4 Justice Department tries to force Google to hand over user data
        //-                 .first-post-content
        //-                   p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
        //-                 .first-post-index
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
          
        //-   .col-lg-4.col-md-4.col-sm-12.col-xs-12
        //-     .categories
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .categories-title 
        //-             h2 Technology5
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .first-post
        //-             .row
        //-               .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-                 .first-post-thumbnail
        //-                 .first-post-title
        //-                   h4 Justice Department tries to force Google to hand over user data
        //-                 .first-post-content
        //-                   p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
        //-                 .first-post-index
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data

        //-   .col-lg-4.col-md-4.col-sm-12.col-xs-12
        //-     .categories
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .categories-title 
        //-             h2 Technology6
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .first-post
        //-             .row
        //-               .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-                 .first-post-thumbnail
        //-                 .first-post-title
        //-                   h4 Justice Department tries to force Google to hand over user data
        //-                 .first-post-content
        //-                   p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
        //-                 .first-post-index
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
        //- .row
        //-   .col-lg-6.col-md-6.col-sm-12.col-xs-12
        //-     .categories
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .categories-title 
        //-             h2 Technology7
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .first-post
        //-             .row
        //-               .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-                 .first-post-thumbnail
        //-                 .first-post-title
        //-                   h4 Justice Department tries to force Google to hand over user data
        //-                 .first-post-content
        //-                   p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
        //-                 .first-post-index
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
        //-   .col-lg-6.col-md-6.col-sm-12.col-xs-12
        //-     .categories
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .categories-title 
        //-             h2 Technology8
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .first-post
        //-             .row
        //-               .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-                 .first-post-thumbnail
        //-                 .first-post-title
        //-                   h4 Justice Department tries to force Google to hand over user data
        //-                 .first-post-content
        //-                   p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
        //-                 .first-post-index
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
        
        //- .row
        //-   //9
        //-   .col-lg-4.col-md-4.col-sm-12.col-xs-12
        //-     .categories
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .categories-title 
        //-             h2 Technology9
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .first-post
        //-             .row
        //-               .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-                 .first-post-thumbnail
        //-                 .first-post-title
        //-                   h4 Justice Department tries to force Google to hand over user data
        //-                 .first-post-content
        //-                   p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
        //-                 .first-post-index
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
          
        //-   .col-lg-4.col-md-4.col-sm-12.col-xs-12
        //-     .categories
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .categories-title 
        //-             h2 Technology10
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .first-post
        //-             .row
        //-               .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-                 .first-post-thumbnail
        //-                 .first-post-title
        //-                   h4 Justice Department tries to force Google to hand over user data
        //-                 .first-post-content
        //-                   p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
        //-                 .first-post-index
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
        //-   .col-lg-4.col-md-4.col-sm-12.col-xs-12
        //-     .categories
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .categories-title 
        //-             h2 Technology11
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .first-post
        //-             .row
        //-               .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-                 .first-post-thumbnail
        //-                 .first-post-title
        //-                   h4 Justice Department tries to force Google to hand over user data
        //-                 .first-post-content
        //-                   p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
        //-                 .first-post-index
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
        //- .row
        //-   //12
        //-   .col-lg-6.col-md-6.col-sm-12.col-xs-12
        //-     .categories
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .categories-title 
        //-             h2 Technology12
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .first-post
        //-             .row
        //-               .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-                 .first-post-thumbnail
        //-                 .first-post-title
        //-                   h4 Justice Department tries to force Google to hand over user data
        //-                 .first-post-content
        //-                   p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
        //-                 .first-post-index
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
          
        //-   .col-lg-6.col-md-6.col-sm-12.col-xs-12
        //-     .categories
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .categories-title 
        //-             h2 Technology13
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .first-post
        //-             .row
        //-               .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-                 .first-post-thumbnail
        //-                 .first-post-title
        //-                   h4 Justice Department tries to force Google to hand over user data
        //-                 .first-post-content
        //-                   p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
        //-                 .first-post-index
        //-       .row
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-           .next-post
        //-             .row
        //-               .col-lg-3.col-md-3.col-sm-3.col-xs-3
        //-                 .next-post-thumbnail
        //-               .col-lg-9.col-md-9.col-sm-9.col-xs-9
        //-                 .next-post-title Justice Department tries to force Google to hand over user data