.container-fluid
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .slider
        // slideshow
        #home-slideshow.carousel.slide(data-ride='carousel')
          // Indicators
          ol.carousel-indicators
            li.active(data-target='#home-slideshow', data-slide-to='0')
            li(data-target='#home-slideshow', data-slide-to='1')
            li(data-target='#home-slideshow', data-slide-to='2')
          // Wrapper for slides
          .carousel-inner(role='listbox')
            .item.active
              img(src='images/1.jpg', alt='aaa')
              .carousel-caption
                | Teacher Training
            .item
              img(src='images/2.jpg', alt='bbb')
              .carousel-caption
                | Presentations
            .item
              img(src='images/3.jpg', alt='ccc')
              .carousel-caption
                | Method Learning
<<<<<<< HEAD
          a.left.carousel-control(href='#home-slideshow', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
          a.right.carousel-control(href='#home-slideshow', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next
  .row.h-quote
    .col-md-6.home-quote.col-centerd
      h6 Main forum
=======
            a.left.carousel-control(href='#home-slideshow', role='button', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
              span.sr-only Previous
            a.right.carousel-control(href='#home-slideshow', role='button', data-slide='next')
              span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
              span.sr-only Next
>>>>>>> 23f2a3b01ebc0d58488038d1437187cd27198d88

  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .groups
        .row
          //1
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h3 Góp ý xây dựng diễn đàn
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail.img-rounded
                          img(src="./images/tit1.jpg")
                        .first-post-title
                          h4
                            a(href ="#") Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
                          p
                              span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 4504
                                
                              span.glyphicon.glyphicon-time(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 12:33PM
                              
                              span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 5
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next1.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title 
                        a(href ="#") Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next2.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title
                        a(href ="#") Justice Department tries to force Google to hand over user data
          
          //2
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h3 Giới thiệu làm quen
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail.img-rounded
                          img(src="./images/tit5.jpg")
                        .first-post-title
                          h4
                            a(href ="#") Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
                          p
                              span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 4504
                                
                              span.glyphicon.glyphicon-time(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 12:33PM
                              
                              span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 5
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next21.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title 
                        a(href ="#") Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next22.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title
                        a(href ="#") Justice Department tries to force Google to hand over user data
          //3
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h3 Bồi dưỡng giáo viên ngoại ngữ
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail.img-rounded
                          img(src="./images/tit12.jpg")
                        .first-post-title
                          h4
                            a(href ="#") Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
                          p
                              span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 4504
                                
                              span.glyphicon.glyphicon-time(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 12:33PM
                              
                              span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 5
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next31.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title 
                        a(href ="#") Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next32.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title
                        a(href ="#") Justice Department tries to force Google to hand over user data
          


  .row.h-quote
    .col-md-6.home-quote.col-centerd
      h6 Main forum        
   

  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .groups
        .row
          //4
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h3 Xây dựng cộng đồng học ngoại ngữ
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail.img-rounded
                          img(src="./images/tit4.jpg")
                        .first-post-title
                          h4
                            a(href ="#") Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
                          p
                              span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 4504
                                
                              span.glyphicon.glyphicon-time(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 12:33PM
                              
                              span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 5
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next1.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title 
                        a(href ="#") Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next2.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title
                        a(href ="#") Justice Department tries to force Google to hand over user data
          
          //5
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h3 Kiểm tra - đánh giá trong giảng dạy ngoại ngữ
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail.img-rounded
                          img(src="./images/tit8.jpg")
                        .first-post-title
                          h4
                            a(href ="#") Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
                          p
                              span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 4504
                                
                              span.glyphicon.glyphicon-time(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 12:33PM
                              
                              span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 5
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next21.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title 
                        a(href ="#") Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next22.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title
                        a(href ="#") Justice Department tries to force Google to hand over user data
          //6
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h3 Ứng dụng CNTT trong dạy học ngoại ngữ
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail.img-rounded
                          img(src="./images/tit6.jpg")
                        .first-post-title
                          h4
                            a(href ="#") Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
                          p
                              span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 4504
                                
                              span.glyphicon.glyphicon-time(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 12:33PM
                              
                              span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 5
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next31.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title 
                        a(href ="#") Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next32.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title
                        a(href ="#") Justice Department tries to force Google to hand over user data       
    
  .row.h-quote
    .col-md-6.home-quote.col-centerd
      h6 Main forum 

  
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .groups
        .row
          //7
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h3 Xây dựng và khai thác học liệu hiệu quả
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail.img-rounded
                          img(src="./images/tit7.jpg")
                        .first-post-title
                          h4
                            a(href ="#") Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
                          p
                              span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 4504
                                
                              span.glyphicon.glyphicon-time(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 12:33PM
                              
                              span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 5
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next1.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title 
                        a(href ="#") Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next2.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title
                        a(href ="#") Justice Department tries to force Google to hand over user data
          
          //8
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h3 Hướng dẫn kĩ thuật
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail.img-rounded
                          img(src="./images/tit11.jpg")
                        .first-post-title
                          h4
                            a(href ="#") Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
                          p
                              span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 4504
                                
                              span.glyphicon.glyphicon-time(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 12:33PM
                              
                              span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 5
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next21.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title 
                        a(href ="#") Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next22.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title
                        a(href ="#") Justice Department tries to force Google to hand over user data

  .row.h-quote
    .col-md-6.home-quote.col-centerd
      h6 English teacher 

  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .groups
        .row
          //9
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h3 Tiểu học
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail.img-rounded
                          img(src="./images/tit10.jpg")
                        .first-post-title
                          h4
                            a(href ="#") Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
                          p
                              span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 4504
                                
                              span.glyphicon.glyphicon-time(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 12:33PM
                              
                              span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 5
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next1.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title 
                        a(href ="#") Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next2.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title
                        a(href ="#") Justice Department tries to force Google to hand over user data
          
          //10
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h3 Trung học cơ sở
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail.img-rounded
                          img(src="./images/tit2.jpg")
                        .first-post-title
                          h4
                            a(href ="#") Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
                          p
                              span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 4504
                                
                              span.glyphicon.glyphicon-time(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 12:33PM
                              
                              span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 5
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next21.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title 
                        a(href ="#") Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next22.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title
                        a(href ="#") Justice Department tries to force Google to hand over user data
          //11
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h3 Trung học phổ thông
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail.img-rounded
                          img(src="./images/tit9.jpg")
                        .first-post-title
                          h4
                            a(href ="#") Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
                          p
                              span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 4504
                                
                              span.glyphicon.glyphicon-time(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 12:33PM
                              
                              span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 5
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next31.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title 
                        a(href ="#") Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next32.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title
                        a(href ="#") Justice Department tries to force Google to hand over user data 

  

  .row.h-quote
    .col-md-6.home-quote.col-centerd
      h6 Training English 

  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .groups
        .row
          //12
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h3 Năng lực giáo viên
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail.img-rounded
                          img(src="./images/tit13.jpg")
                        .first-post-title
                          h4
                            a(href ="#") Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
                          p
                              span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 4504
                                
                              span.glyphicon.glyphicon-time(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 12:33PM
                              
                              span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 5
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next1.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title 
                        a(href ="#") Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next2.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title
                        a(href ="#") Justice Department tries to force Google to hand over user data
          
          //13
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .categories
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .categories-title 
                    h3 Kế hoạch đào tạo giáo viên
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .first-post
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .first-post-thumbnail.img-rounded
                          img(src="./images/tit2.jpg")
                        .first-post-title
                          h4
                            a(href ="#") Justice Department tries to force Google to hand over user data
                        .first-post-content
                          p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        .first-post-index
                          p
                              span.glyphicon.glyphicon-eye-open(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 4504
                                
                              span.glyphicon.glyphicon-time(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 12:33PM
                              
                              span.glyphicon.glyphicon-comment(style="margin-right:20px;")
                                a(href="#")(style="margin-left:10px;") 5
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next21.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title 
                        a(href ="#") Justice Department tries to force Google to hand over user data
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .next-post
                    .row
                      .col-lg-3.col-md-3.col-sm-3.col-xs-3
                        .next-post-thumbnail.img-rounded
                          img(src="./images/next22.jpg")
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9
                        .next-post-title
                        a(href ="#") Justice Department tries to force Google to hand over user data
  .row.h-quote
    .col-md-6.home-quote.col-centerd
      h6 Lorem ipsum dolor sit amet


  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.footer
      .col-lg-3.col-md-6-col-sm-12.col-xs-12
       
        h3 Responsive
        p 
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        |  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        | proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      .col-lg-3.col-md-3-col-sm-12.col-xs-12
        
        h3 Recent Posts
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      .col-lg-3.col-md-3-col-sm-12.col-xs-12

        h3 Latest Tweets
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      .col-lg-3.col-md-3-col-sm-12.col-xs-12
        h3 Contact Us
        .row
          form.form-inline(role='form')
          .form-group.col-lg-12.col-md-12-col-sm-12.col-xs-12
            label.sr-only.control-label
              | Name
              span.text-danger *
           
            input.form-control(type='text' placeholder='Name*' style="width:90%")
          .form-group.col-lg-12.col-md-12-col-sm-12.col-xs-12
            
            label.sr-only.control-label
              | Email
              span.text-danger *
            input.form-control(type='text' placeholder='Email*' style="width:90%")  
          textarea.form-control(rows='3').col-lg-12.col-md-12-col-sm-12.col-xs-12.text-center(style="width:80%; margin-left : 15px;")
          .form-group
            button.btn.btn-primary.col-lg-offset-3.col-md-offset-3.col-sm-offset-3.col-xs-offset-3.col-lg-4.col-md-4-col-sm-4.col-xs-4(type='submit' style="margin-top:10px;") Submit
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.endfooter

