
.container-fluid
  
  .row
    .listpost
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
        
          .col-lg-3.col-md-3.col-sm-5.col-xs-6.post-title-main
            h4.lead(style="padding-top:12px")(ng-bind="catalory.name")

          .col-lg-9.col-md-9.col-sm-7.col-xs-6.post-title-child
            h5.lead(style="padding-top:5px;")(ng-bind="catalory.description")
        //- .col-lg-12.col-md-12.col-sm-12.col-xs-12
        //-   .span12
        //-     .title-bar(style="color:white;")
        //-       span.lead(ng-bind="catalory.name" style="z-index: 1")
        //-       p.lead(ng-bind="catalory.description")
      .row.text
        .col-lg-9.col-md-9.col-sm-12.col-xs-12
          .col-lg-4.col-md-6.col-sm-6.col-xs-12.title.lead(ng-repeat="post in posts")
            .col-lg-12.col-md-12.col-sm-12.col-xs-12(style="margin-top: 5px; padding-left: 0px; padding-right: 0px; border: 1px solid #48D1CC; height: 220px; margin-right: 200px;width:100%;")
              .col-lg-12.col-md-12.col-sm-12.col-xs-12(style="background-color: #1E90FF;height:50px;")
                h4
                  a(ng-if="post.title.length >= 25" ng-bind="post.title.substring(0,23) + '...'" ng-href="{{group.slug+'/'+catalory.slug+'/'+post.slug}}", ng-click="scrollTop()")
                h4
                  a(ng-if="post.title.length < 25" ng-bind="post.title" ng-href="{{group.slug+'/'+catalory.slug+'/'+post.slug}}", ng-click="scrollTop()")
                 //.col-lg-4.col-md-4.col-sm-12.col-xs-12(style="padding: 5px 5px")
                .col-lg-12.col-md-12.col-sm-12.col-xs-12(style="height:20px;")
                img.img-responsive.img-rounded(src="uploads/all_new_htc_one_streaks-wallpaper-1366x768.jpg",style="width: 100px; height: 100px; float: left; marrgin-left: 10px; padding:3px;" ng-bind="post.img_url")
                //.col-lg-8.col-md-8.col-sm-12.col-xs-12(style="margin: 0px 0px; padding: 0px 0px;color: white;")
                p.lead(style="font-size: 12px;padding-left:90px;")(ng-if="post.content.length >= 100" ng-bind-html="post.content.substring(0,90) + '...' | unsafe")
                p.lead(style="font-size: 12px;padding-left:90px;")(ng-if="post.content.length <  100" ng-bind-html="post.content | unsafe")
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.lead(style="height:100px;")
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.lead(style="height: 77px; padding-top: 20px")
                span.post-date.lead(ng-bind="post.date_create | date:'dd/MM/yyyy'")
                span -
                span.post-author.lead(ng-bind="post.author.full_name")
            //- .col-lg-4.col-md-4.col-sm-6.col-xs-12(ng-repeat="post in posts")
              .post-inlist-area
                .row
                  .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .image-post-inlist-area
                      .post-inlist-content
                        .w3-container.w3-blue(style='width:119%;margin-left:-26px;margin-top:-26px;')
                          h4
                            a(ng-if="post.title.length >= 25" ng-bind="post.title.substring(0,23) + '...'" ng-href="{{group.slug+'/'+catalory.slug+'/'+post.slug}}", ng-click="scrollTop()")
                          h4
                            a(ng-if="post.title.length < 25" ng-bind="post.title" ng-href="{{group.slug+'/'+catalory.slug+'/'+post.slug}}", ng-click="scrollTop()")
                        img.img-responsive.img-rounded(src="",style="width:100px;height:100px;float:left;margin-top:2px;padding: 10px;margin-left:-20px;" ng-bind="post.img_url")
                        p(style="font-size:15px;")(ng-if="post.content.length >= 100" ng-bind-html="post.content.substring(0,90) + '...' | unsafe")
                        p(style="font-size:15px;")(ng-if="post.content.length <  100" ng-bind-html="post.content | unsafe")

        // top-catagory, .....
        .col-lg-3.col-md-3.col-sm-12.col-xs-12
           .row.content-box
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.category-list
                .row
                  .col-lg-12.col-md-12.col-sm-12.col-xs-12.content-box-title
                    .underline
                    span Category
                  .col-lg-12.col-md-12.col-sm-12.col-xs-12.category-items
                    .row.categories(ng-repeat="catalory in topCatalories")
                      .hover-line
                      .col-lg-8.col-md-8.col-sm-8.col-xs-8.categories-title(ng-bind="catalory.name")
                      .col-lg-4.col-md-4.col-sm-4.col-xs-4.categories-number
                        .number-box(ng-bind="catalory.posts.length")

  // footer
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.footer
      
      .col-lg-4.col-md-4-col-sm-12.col-xs-12
      
       
        h2 Responsive
        p 
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        |  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        | proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      .col-lg-4.col-md-4-col-sm-12.col-xs-12
        
        h2 Recent Posts
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      .col-lg-4.col-md-4-col-sm-12.col-xs-12

        h2 Latest Tweets
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      //- .col-lg-3.col-md-3-col-sm-12.col-xs-12
      //-   h3 Contact Us
      //-   .row
      //-     form.form-inline(role='form')
      //-     .form-group.col-lg-12.col-md-12-col-sm-12.col-xs-12
      //-       label.sr-only.control-label
      //-         | Name
      //-         span.text-danger *
           
      //-       input.form-control(type='text' placeholder='Name*' style="width:300px")
      //-     .form-group.col-lg-12.col-md-12-col-sm-12.col-xs-12
            
      //-       label.sr-only.control-label
      //-         | Email
      //-         span.text-danger *
      //-       input.form-control(type='text' placeholder='Email*' style="width:300px")  
      //-     textarea.form-control(rows='3' type='text' placeholder='Message' ).col-lg-12.col-md-12-col-sm-12.col-xs-12.text-center(style="width:300px; margin-left : 15px;")
      //-     .form-group
      //-       button.btn.btn-primary.col-lg-offset-4.col-md-offset-4.col-sm-offset-4.col-xs-offset-4.col-lg-3.col-md-3-col-sm-3.col-xs-3(type='submit' style="margin-top:10px;") Send
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.endfooter

