
.container-fluid
  
  .row
    .listpost(style="margin-top:180px;")
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .span12(style="margin-left:22px;")
            .title-bar(style="margin-top:5px;color:white;")
              span Catalory
              p(style="margin-top:15px;")
                | All what you like to know about Business, the latest news from business around the
      .row
        .col-lg-9.col-md-9.col-sm-12.col-xs-12
          .text
            .row
                //1
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .row
                  .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    .first-list-1
                      .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .image-first-list-1
                            .city
                              .w3-container.w3-blue(style='width:350px;margin-left:-26px;margin-top:-26px;')
                                h2 London
                              img.img-responsive.img-rounded(src="images/a.jpg",style="width:100px;height:100px;float:left;margin-top:2px;padding: 10px;margin-left:-20px;")
                              p(style="font-size:15px;")
                                | London is the capital city of England.
                                | It is the most populous city in the United Kingdom,
                                | with a metropolitan area of over 13 million inhabitants.

                  .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    .next-list-1
                      .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .image-next-list-1
                            .city
                              .w3-container.w3-blue(style='width:350px;margin-left:-26px;margin-top:-26px;')
                                h2 London
                              img.img-responsive.img-rounded(src="images/b.jpg",style="width:100px;height:100px;float:left;margin-top:2px;padding: 10px;margin-left:-20px;")
                              p(style="font-size:15px;")
                                | London is the capital city of England.
                                | It is the most populous city in the United Kingdom,
                                | with a metropolitan area of over 13 million inhabitants.

                  .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    .last-list-1
                      .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .image-last-list-1
                             .city
                              .w3-container.w3-blue(style='width:350px;margin-left:-26px;margin-top:-26px;')
                                h2 London
                              img.img-responsive.img-rounded(src="images/c.jpg",style="width:100px;height:100px;float:left;margin-top:2px;padding: 10px;margin-left:-20px;")
                              p(style="font-size:15px;")
                                | London is the capital city of England.
                                | It is the most populous city in the United Kingdom,
                                | with a metropolitan area of over 13 million inhabitants.
              .col-lg-12.col-md-12.col-sm-9.col-xs-9.del
                //2
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .row
                  .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    .first-list-1
                      .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .image-first-list-1
                            .city
                              .w3-container.w3-blue(style='width:350px;margin-left:-26px;margin-top:-26px;')
                                h2 London
                              img.img-responsive.img-rounded(src="images/d.jpg",style="width:100px;height:100px;float:left;margin-top:2px;padding: 10px;margin-left:-20px;")
                              p(style="font-size:15px;")
                                | London is the capital city of England.
                                | It is the most populous city in the United Kingdom,
                                | with a metropolitan area of over 13 million inhabitants.

                  .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    .next-list-1
                      .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .image-next-list-1
                            .city
                              .w3-container.w3-blue(style='width:350px;margin-left:-26px;margin-top:-26px;')
                                h2 London
                              img.img-responsive.img-rounded(src="images/e.jpg",style="width:100px;height:100px;float:left;margin-top:2px;padding: 10px;margin-left:-20px;")
                              p(style="font-size:15px;")
                                | London is the capital city of England.
                                | It is the most populous city in the United Kingdom,
                                | with a metropolitan area of over 13 million inhabitants.
                  .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    .last-list-1
                      .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .image-last-list-1
                            .city
                              .w3-container.w3-blue(style='width:350px;margin-left:-26px;margin-top:-26px;')
                                h2 London
                              img.img-responsive.img-rounded(src="images/f.jpg",style="width:100px;height:100px;float:left;margin-top:2px;padding: 10px;margin-left:-20px;")
                              p(style="font-size:15px;")
                                | London is the capital city of England.
                                | It is the most populous city in the United Kingdom,
                                | with a metropolitan area of over 13 million inhabitants.
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.del
                //3
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .row
                  .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    .first-list-1
                      .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .image-first-list-1
                           .city
                              .w3-container.w3-blue(style='width:350px;margin-left:-26px;margin-top:-26px;')
                                h2 London
                              img.img-responsive.img-rounded(src="images/g.jpg",style="width:100px;height:100px;float:left;margin-top:2px;padding: 10px;margin-left:-20px;")
                              p(style="font-size:15px;")
                                | London is the capital city of England.
                                | It is the most populous city in the United Kingdom,
                                | with a metropolitan area of over 13 million inhabitants.

                  .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    .next-list-1
                      .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .image-next-list-1
                             .city
                              .w3-container.w3-blue(style='width:350px;margin-left:-26px;margin-top:-26px;')
                                h2 London
                              img.img-responsive.img-rounded(src="images/h.jpg",style="width:100px;height:100px;float:left;margin-top:2px;padding: 10px;margin-left:-20px;")
                              p(style="font-size:15px;")
                                | London is the capital city of England.
                                | It is the most populous city in the United Kingdom,
                                | with a metropolitan area of over 13 million inhabitants.
                  .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    .last-list-1
                      .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .image-last-list-1
                             .city
                              .w3-container.w3-blue(style='width:350px;margin-left:-26px;margin-top:-26px;')
                                h2 London
                              img.img-responsive.img-rounded(src="images/i.jpg",style="width:100px;height:100px;float:left;margin-top:2px;padding: 10px;margin-left:-20px;")
                              p(style="font-size:15px;")
                                | London is the capital city of England.
                                | It is the most populous city in the United Kingdom,
                                | with a metropolitan area of over 13 million inhabitants.
            
        .col-lg-3.col-md-3.col-sm-12.col-xs-12
          .list-view
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.footer
      
      .col-lg-4.col-md-4-col-sm-12.col-xs-12
      
       
        h2 Responsive
        p 
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        |  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        | proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      .col-lg-4.col-md-4-col-sm-12.col-xs-12
        
        h2 Recent Posts
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      .col-lg-4.col-md-4-col-sm-12.col-xs-12

        h2 Latest Tweets
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      //- .col-lg-3.col-md-3-col-sm-12.col-xs-12
      //-   h3 Contact Us
      //-   .row
      //-     form.form-inline(role='form')
      //-     .form-group.col-lg-12.col-md-12-col-sm-12.col-xs-12
      //-       label.sr-only.control-label
      //-         | Name
      //-         span.text-danger *
           
      //-       input.form-control(type='text' placeholder='Name*' style="width:300px")
      //-     .form-group.col-lg-12.col-md-12-col-sm-12.col-xs-12
            
      //-       label.sr-only.control-label
      //-         | Email
      //-         span.text-danger *
      //-       input.form-control(type='text' placeholder='Email*' style="width:300px")  
      //-     textarea.form-control(rows='3' type='text' placeholder='Message' ).col-lg-12.col-md-12-col-sm-12.col-xs-12.text-center(style="width:300px; margin-left : 15px;")
      //-     .form-group
      //-       button.btn.btn-primary.col-lg-offset-4.col-md-offset-4.col-sm-offset-4.col-xs-offset-4.col-lg-3.col-md-3-col-sm-3.col-xs-3(type='submit' style="margin-top:10px;") Send
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.endfooter




       

