.row.category-title-bar
  .container.category-title-text(ng-bind="post.catalory.name")

.container
  .row.post-intro
    .col-lg-2.col-md-2.col-sm-12.col-xs-12.post-intro-author
      .author-image 
      .author-name(ng-bind="post.author.full_name")
    .col-lg-10.col-md-10.col-sm-12.col-xs-12.post-intro-details
      .row.post-intro-date-type
        .col-lg-2.col-md-2.col-sm-12.col-xs-12.post-intro-date(ng-bind="post.date_create | date:'longDate'")
        .col-lg-2.col-md-2.col-sm-12.col-xs-12.post-intro-type post: art, design
      .row.post-intro-title(ng-bind="post.title")

  .row.post-like-rating
    .col-lg-6.col-md-6.col-sm-12.col-xs-12.post-like
      .post-like-watch
        i.fa.fa-eye
        span 9875
      .post-like-love
        i.fa.fa-heart
        span 78k

    .col-lg-6.col-md-6.col-sm-12.col-xs-12.post-rating
      .post-rating-title
        i.fa.fa-caret-left
        .post-rating-title-box 3
      .post-rating-star
        i.fa.fa-star.active
        i.fa.fa-star.active
        i.fa.fa-star.active
        i.fa.fa-star.active
        i.fa.fa-star

  //- public/javascripts/website/filter/index.js
  //- public/javascripts/website/filter/unsafe.js
  .row.post-content
    p(ng-bind-html="post.content | unsafe")

  .row.about-author
    .about-author-image
    .about-author-content
      .about-author-name(ng-bind="post.author.full_name")
      .about-author-position editor
      .about-author-description Dunt, et egestas magna molestie. Etiam bibendum dolor malesuada erat tincidunt, et egestas magna molestie.
      .row.about-author-social
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .author-social-link.row
            .col-lg-1.col-md-1.col-sm-1.col-xs-1.author-social-logo.text-center#facebook 
              i.fa.fa-facebook
            .col-lg-1.col-md-1.col-sm-1.col-xs-1.author-social-logo.text-center#google
              i.fa.fa-google-plus
            .col-lg-1.col-md-1.col-sm-1.col-xs-1.author-social-logo.text-center#twitter
              i.fa.fa-twitter
            .col-lg-1.col-md-1.col-sm-1.col-xs-1.author-social-logo.text-center#linkedin
              i.fa.fa-linkedin

  .row.comments-section
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.comments-number
      i.fa.fa-comments-o
      span 34
      span comments
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.comments-post
      .row.first-comments
        .col-lg-3.col-md-3.col-sm-12.col-xs-12(style="padding: 0; margin: 0;")
          .commentor-image
        .col-lg-9.col-md-9.col-sm-12.col-xs-12.comments-details
          .comments-author-name sam isbister
          .comments-author-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          .comments-author-datetime
            span.comment-datetime 1 day ago
            span.seperate-slash /
            span.report-btn report

        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .row.second-comments
            .col-lg-1.col-md-1.col-sm-0.col-xs-0
            .col-lg-3.col-md-3.col-sm-12.col-xs-12(style="padding: 0; margin: 0;")
              .commentor-image
            .col-lg-8.col-md-8.col-sm-12.col-xs-12.comments-details
              .comments-author-name sam isbister
              .comments-author-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              .comments-author-datetime
                span.comment-datetime 1 day ago
                span.seperate-slash /
                span.report-btn report
          .row.second-comments
            .col-lg-1.col-md-1.col-sm-0.col-xs-0
            .col-lg-3.col-md-3.col-sm-12.col-xs-12(style="padding: 0; margin: 0;")
              .commentor-image
            .col-lg-8.col-md-8.col-sm-12.col-xs-12.comments-details
              .comments-author-name sam isbister
              .comments-author-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              .comments-author-datetime
                span.comment-datetime 1 day ago
                span.seperate-slash /
                span.report-btn report

      .row.first-comments
        .col-lg-3.col-md-3.col-sm-12.col-xs-12(style="padding: 0; margin: 0;")
          .commentor-image
        .col-lg-9.col-md-9.col-sm-12.col-xs-12.comments-details
          .comments-author-name sam isbister
          .comments-author-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          .comments-author-datetime
            span.comment-datetime 1 day ago
            span.seperate-slash /
            span.report-btn report

    .col-lg-12.col-md-12.col-sm-12.col-xs-12.send-comment-form
      .send-comment-title.row
        i.fa.fa-comment-o
        span leave your comments
      .send-comment-name.row
        .col-lg-1.col-md-1.col-sm-1.col-xs-1.send-comment-icon
          i.fa.fa-user
        .col-lg-11.col-md-11.col-sm-11.col-xs-11.send-comment-input
          input(placeholder="enter your name")
      .send-comment-email.row
        .col-lg-1.col-md-1.col-sm-1.col-xs-1.send-comment-icon
          i.fa.fa-envelope
        .col-lg-11.col-md-11.col-sm-11.col-xs-11.send-comment-input
          input(placeholder="enter your mail")
      .send-comment-website.row
        .col-lg-1.col-md-1.col-sm-1.col-xs-1.send-comment-icon
          i.fa.fa-link
        .col-lg-11.col-md-11.col-sm-11.col-xs-11.send-comment-input
          input(placeholder="enter your website")
      .send-comment-message.row
        .col-lg-1.col-md-1.col-sm-1.col-xs-1.send-comment-icon
          i.fa.fa-comment-o
        .col-lg-11.col-md-11.col-sm-11.col-xs-11.send-comment-input
          textarea(placeholder="enter your message" rows="6")
      button.send-comment-btn(ng-click="comment()") send Comment

script.
  $(document).ready(function (){
    var comment_padding = (212 - ($('.comments-author-name').outerHeight()+$('.comments-author-content').outerHeight()+$('.comments-author-datetime').outerHeight()))/2;
    $('.comments-details').css('padding-top', comment_padding);
  });
