h3.orange-text
  i.fa.fa-pencil-square
  | {{title}}
table.table.table-striped(ng-table='tableParams', show-filter='true')
  tr(ng-repeat='row in $data')
    td(width='25%', data-title="'Title'", filter="{title: 'text'}")
      a(href='admin/posts/{{row._id}}', title='{{row.title}}') {{row.title}}
    td(width='20%', data-title="'Author'", filter="{author_name: 'select'}", filter-data='authors') {{row.author_name}}
    td(width='20%', data-title="'Type'", filter="{type_name: 'select'}", filter-data='types') {{row.type_name}}
    td(width='20%', data-title="'Category'", filter="{category_name: 'select'}", filter-data='categories') {{row.category_name}}
    td(width='15%', data-title="'Updated Date'", sortable="'date_update'") {{row.date_update | date: 'dd/MM/yyyy HH:mm'}}